Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

feat: 상품 타입 정의 및 관련 파일 수정
  src/advanced/App.tsx
  src/advanced/features/cart/services/promotionService.ts
  src/advanced/features/cart/utils/stockUtils.ts
  src/advanced/features/product/components/ProductSelector.tsx
  src/advanced/features/product/types/index.ts
Due: none

feat: 장바구니 아이템 타입 분리 및 코드 정리
  src/advanced/features/cart/services/cartCalculator.ts
  src/advanced/features/cart/types/index.ts
Due: none

feat: 상품 타입 임포트 경로 수정
  src/advanced/features/product/utils/productUtils.ts
Due: none

refactor: 주문 요약 상세 ui 컴포넌트 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

feat(advanced): 총 재고 부족 판단 함수 구현
  src/advanced/utils/productUtils.ts
Due: none

feat(advanced): 총 재고 부족 시 셀렉터에 표시
  src/advanced/components/cart/ProductPicker.tsx
Due: none

fix: 이벤트 할인 로직 오류 수정
  src/advanced/App.jsx
  src/advanced/components/selector/SelectorContainer.jsx
  src/advanced/hooks/useIntervalPromotion.js
  src/advanced/services/event.js
  src/advanced/utils/hooks.js
Due: lint, format

feat(advanced): 재고 부족 메세지 표현
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/utils/productUtils.ts
Due: none

refactor: Manual Modal eventlistener 연결 방식 변경
  src/basic/components/manual.js
  src/basic/eventListeners.js
  src/basic/main.basic.js
Due: lint, format

refactor(advanced): ShoppingCartItem 분리
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/components/cart/ShoppingCartItem.tsx
Due: none

fixup
  src/advanced/components/cart/ShoppingCartItem.tsx
Due: none

fix: 할인 로직 오류 수정
  src/advanced/App.jsx
  src/advanced/components/CartItemBox.jsx
  src/advanced/hooks/useIntervalPromotion.js
  src/advanced/services/event.js
Due: lint, format

refactor: Product Selector 이벤트 핸들러 등록 방식 변경
  src/basic/components/ui.js
  src/basic/eventListeners.js
  src/basic/main.basic.js
Due: lint, format

feat(advanced): 쇼핑카트 uI 업데이트
  src/advanced/components/cart/ShoppingCartItem.tsx
  src/advanced/utils/productUtils.ts
Due: none

fix(advanced): orderSummary에 잘못 표시되고있던 값 수정
  src/advanced/components/order/OrderList.tsx
  src/advanced/components/order/OrderSummary.tsx
Due: none

refactor: 타이머 상수 및 로직 분리
  src/basic/constants.js
  src/basic/main.basic.js
  src/basic/timer.js
Due: lint, format

feat: TypeScript 도입
  eslint.config.js
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/components/CartItem.tsx
  src/advanced/components/CartItemBox.tsx
  src/advanced/components/GridContainer.tsx
  src/advanced/components/Header.tsx
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/LeftColumn.tsx
  src/advanced/components/RightColumn.tsx
  src/advanced/components/SummaryDetails.tsx
  src/advanced/components/manual/Manual.tsx
  src/advanced/components/manual/ManualColumn.tsx
  src/advanced/components/manual/ManualOverlay.tsx
  src/advanced/components/manual/ManualToggle.tsx
  src/advanced/components/selector/AddButton.tsx
  src/advanced/components/selector/ProductOption.tsx
  src/advanced/components/selector/ProductSelector.tsx
  src/advanced/components/selector/SelectorContainer.tsx
  src/advanced/components/selector/StockInfoText.tsx
  src/advanced/constants.ts
  src/advanced/data.ts
  src/advanced/hooks/useIntervalPromotion.ts
  src/advanced/main.advanced.tsx
  src/advanced/model/types.ts
  src/advanced/services/event.ts
  src/advanced/services/order.ts
  src/advanced/services/point.ts
  src/advanced/utils/day.ts
  src/advanced/utils/hooks.ts
  src/advanced/utils/math.js
  src/advanced/utils/math.ts
  tsconfig.json
Due: lint, format

refactor: main 함수에서 cart Util 관련 함수 분리
  src/basic/cartUtils.js
  src/basic/main.basic.js
Due: lint, format

refactor: 대량구매 할인, 화요일 특별 할인 적용 순수함수 구현
  src/basic/cartUtils.js
  src/basic/main.basic.js
Due: lint, format

feat: 빌드 설정 추가
  package.json
  vite.advanced.config.js
Due: none

feat: gh-pages 배포 커맨드 추가
  package.json
  pnpm-lock.yaml
Due: none

refactor: point 관련 함수들 별도 파일로 분리
  src/basic/main.basic.js
  src/basic/pointsUtils.js
Due: lint, format

feat: 배포 base 경로 추가
  package.json
  vite.advanced.config.js
Due: none

refactor: Cart Action, Handler 분리 및 이벤트 위임 방식으로 변경
  src/basic/cartActions.js
  src/basic/eventListeners.js
  src/basic/main.basic.js
  src/basic/useCartHandlers.js
Due: lint, format

deploy:배포 설정 추가
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

refactor: ui 업데이트 로직 구현
  src/basic/main.basic.js
  src/basic/uiEffects.js
Due: lint, format

refactor: useCartState로 장바구니 상태관리 분리
  src/basic/main.basic.js
  src/basic/useCartState.js
Due: lint, format

chore: 불필요한 import 제거
  src/basic/main.basic.js
Due: lint, format

fix: icon 컴포넌트 attribute 카멜케이스로 변경
  apps/advanced/src/shared/components/icons/CloseIcon.tsx
  apps/advanced/src/shared/components/icons/InfoIcon.tsx
  apps/advanced/src/shared/components/icons/MinusIcon.tsx
  apps/advanced/src/shared/components/icons/PlusIcon.tsx
Due: none

refactor: main 함수 정리
  src/basic/main.basic.js
Due: lint, format

refactor: 폴더 구조 변경
  src/basic/components/ui.js
  src/basic/constants/constants.js
  src/basic/constants/data.js
  src/basic/events/eventListeners.js
  src/basic/hooks/useCartHandlers.js
  src/basic/hooks/useCartState.js
  src/basic/main.basic.js
  src/basic/services/cartActions.js
  src/basic/services/timer.js
  src/basic/uiEffects.js
  src/basic/utils/cartUtils.js
  src/basic/utils/pointsUtils.js
  src/basic/utils/utils.js
Due: lint, format

feat: 테스트 파일 확장자 변경 및 새로운 의존성 추가
  package.json
  pnpm-lock.yaml
Due: none

[advanced] feat: React 설치
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/main.advanced.js
  src/advanced/main.tsx
  src/basic/hooks/useCartHandlers.js
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: lint, format

chore: github pages 배포 - index.basic.html 배포
  404.html
  package.json
  pnpm-lock.yaml
  src/basic/main.basic.js
  vite.config.js
Due: lint, format

test: 테스트 파일 삭제 및 새로운 테스트 파일 추가
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/advanced.test.tsx
Due: lint, format

docs: 프로젝트 테스트 작성 가이드 추가
  docs/advanced-test-creation-guide.md
Due: format

chore: 컴포넌트 경로 수정
  src/basic/components/header/TotalItemCount.js
  src/basic/components/index.js
  src/basic/components/layout/GridContainer.js
  src/basic/components/layout/Header.js
  src/basic/components/layout/LeftColumn.js
  src/basic/components/layout/RightColumn.js
  src/basic/components/leftColumn/CartItem.js
  src/basic/components/leftColumn/CartItemBox.js
  src/basic/components/leftColumn/CartTotal.js
  src/basic/components/rightColumn/DiscountInfo.js
  src/basic/components/rightColumn/LoyaltyPoints.js
  src/basic/components/rightColumn/ManualColumn.js
  src/basic/components/rightColumn/ManualOverlay.js
  src/basic/components/rightColumn/ManualToggle.js
  src/basic/components/rightColumn/SummaryDetails.js
  src/basic/main.basic.js
Due: lint, format

feat: 하드코딩된 상품 데이터를 상수로 추출
  apps/advanced/src/shared/constants/index.ts
  apps/advanced/src/shared/index.ts
Due: none

refactor: 모든 인터페이스를 타입 별칭으로 변환
  apps/advanced/src/shared/types/error.ts
  apps/advanced/src/shared/types/index.ts
Due: none

refactor: 컴포넌트 내보내기 형식 표준화
  apps/advanced/src/shared/components/layouts/Header.tsx
Due: none

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
