Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

refactor: stock msg 생성 중복 코드 제거
  src/basic/App.js
  src/basic/components/StockStatus.js
Due: lint, format

refactor: UI 컴포넌트를 개별 파일로 분리
  src/basic/components/createCartAddButton.js
  src/basic/components/createCartItemsContainer.js
  src/basic/components/createHelpContentPanel.js
  src/basic/components/createHelpModalBackdrop.js
  src/basic/components/createHelpModalToggleButton.js
  src/basic/components/createMainLayoutGrid.js
  src/basic/components/createOrderSummaryColumn.js
  src/basic/components/createProductDropdownSelect.js
  src/basic/components/createProductSelectionPanel.js
  src/basic/components/createShoppingAreaColumn.js
  src/basic/components/createShoppingCartItemElement.js
  src/basic/components/createStockWarningMessage.js
  src/basic/components/ui.js
Due: lint, format

feat: 상태 업데이트 함수 분리
  src/basic/html/services/applySaleAlert.js
  src/basic/html/services/updateCartStatus.js
  src/basic/html/services/updateProductSeletor.js
  src/basic/main.basic.js
Due: lint, format

refactor: 컴포넌트 네이밍 규칙을 createMyComponent에서 MyComponent로 변경
  src/basic/components/CartAddButton.js
  src/basic/components/CartItemsContainer.js
  src/basic/components/HelpContentPanel.js
  src/basic/components/HelpModalBackdrop.js
  src/basic/components/HelpModalToggleButton.js
  src/basic/components/MainLayoutGrid.js
  src/basic/components/OrderSummaryColumn.js
  src/basic/components/ProductDropdownSelect.js
  src/basic/components/ProductSelectionPanel.js
  src/basic/components/ShoppingAreaColumn.js
  src/basic/components/ShoppingCartItemElement.js
  src/basic/components/StockWarningMessage.js
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

refactor: 비즈니스 로직 함수에서 alert ui 코드 분리
  src/basic/App.js
  src/basic/constant/index.js
  src/basic/store.js
Due: lint, format

refac: 전역변수 로컬화
  PROJECT_OVERVIEW.md
  refactor-record/global-variable-elimination.md
  src/basic/main.basic.js
Due: lint, format

수량증감, 제거 핸들러
  src/basic/handler/quantity-change.ts
  src/basic/handler/remove-cart-item.ts
  src/basic/main.basic.ts
  src/basic/model/products.ts
Due: none

ts 파일로 변경
  src/basic/utils/html.ts
Due: none

refactor: product 키 네이밍 변경
  src/basic/domain/product.js
  src/basic/main.basic.js
Due: lint, format

refac: handleCalculateCartStuff 함수 분리
  refactor-record/function-separation.md
  src/basic/main.basic.js
Due: lint, format

refactor: app 모듈 내 함수 배치 변경
  src/basic/App.js
Due: lint, format

refactor: 클린코드 원칙에 따른 매직 넘버 제거
  src/basic/constants/discount.js
  src/basic/domains/cart/cartService.js
  src/basic/domains/product/productService.js
Due: lint, format

chore: setting tailwind
  src/advanced/package-lock.json
  src/advanced/package.json
  src/advanced/src/App.css
  src/advanced/src/App.tsx
  src/advanced/src/index.css
  src/advanced/vite.config.ts
Due: format

refactor: features 폴더를 domains로 이관 및 미사용 코드 제거
  src/basic/constants/discount.js
  src/basic/domains/cart/cartService.js
  src/basic/domains/loyalty/loyaltyService.js
  src/basic/domains/product/constants.js
  src/basic/domains/product/data.js
  src/basic/domains/product/index.js
  src/basic/domains/product/productService.js
  src/basic/features/cart/.gitkeep
  src/basic/features/manual/components/ManualColumn.js
  src/basic/features/manual/components/ManualOverlay.js
  src/basic/features/manual/components/ManualToggle.js
  src/basic/features/manual/components/index.js
  src/basic/features/manual/index.js
  src/basic/features/product/constants/index.js
  src/basic/features/product/data/index.js
  src/basic/main.basic.js
Due: lint, format

refac: products 객체의 아쉬운 변수명 변경
  src/basic/main.basic.js
  src/components/CartDisplay/CartItem.js
  src/components/OrderSummary/OrderDetails.js
  src/components/PriceDisplay.js
  src/components/ProductOptions.js
Due: lint, format

refactor: 이벤트 핸들러 분리 및 React 호환성 개선
  src/basic/main.basic.js
Due: lint, format

feat: 초기 로드 목업 추가
  src/advanced/src/App.tsx
  src/advanced/src/components/CartDisplay.tsx
  src/advanced/src/components/Header.tsx
  src/advanced/src/components/MainLayout.tsx
  src/advanced/src/components/OrderSummary.tsx
Due: none

refactor: 클린코드 원칙 적용한 최종 리팩토링
  src/basic/constants/discount.js
  src/basic/domains/cart/cartOperations.js
  src/basic/domains/cart/cartService.js
  src/basic/domains/product/productService.js
  src/basic/domains/sales/lightningService.js
  src/basic/domains/sales/suggestService.js
  src/basic/main.basic.js
  src/basic/utils/productUtils.js
Due: lint, format

style: lint 및 prettier 적용
  src/basic/components/CartAddButton.js
  src/basic/components/CartItemsContainer.js
  src/basic/components/HelpContentPanel.js
  src/basic/components/HelpModalBackdrop.js
  src/basic/components/HelpModalToggleButton.js
  src/basic/components/MainLayoutGrid.js
  src/basic/components/OrderSummaryColumn.js
  src/basic/components/ProductDropdownSelect.js
  src/basic/components/ProductSelectionPanel.js
  src/basic/components/ShoppingAreaColumn.js
  src/basic/components/ShoppingCartItemElement.js
  src/basic/components/StockWarningMessage.js
  src/basic/components/ui.js
  src/basic/constants/discount.js
  src/basic/domains/cart/cartOperations.js
  src/basic/domains/cart/cartService.js
  src/basic/domains/loyalty/loyaltyService.js
  src/basic/domains/product/constants.js
  src/basic/domains/product/data.js
  src/basic/domains/product/index.js
  src/basic/domains/product/productService.js
  src/basic/domains/sales/lightningService.js
  src/basic/domains/sales/suggestService.js
  src/basic/main.basic.js
  src/basic/state/appState.js
  src/basic/utils/productUtils.js
Due: lint, format

refactor: ui 순수 함수로 분리
  src/basic/main.basic.js
Due: lint, format

feat: Manual 모달 추가
  src/advanced/src/App.tsx
  src/advanced/src/components/ManualButton.tsx
  src/advanced/src/components/ManualModal.tsx
Due: none

refactor: 상수 파일 분리 및 변수명 수정
  docs/05-clean-code-theory-lesson.md
  src/basic/constants/UIConstants.js
  src/basic/constants/discountInfo.js
  src/basic/constants/index.js
  src/basic/constants/pointRate.js
  src/basic/constants/productInfo.js
  src/basic/main.basic.js
Due: lint, format

refactor: deadcode 삭제
  src/basic/main.basic.js
Due: lint, format

refactor: sale timer 로직 utils로 파일 분리
  src/basic/App.js
  src/basic/utils/saleTimers.js
Due: lint, format

refactor: 불필요한 매직넘버 삭제제
  src/basic/constants/discount.js
  src/basic/constants/index.js
  src/basic/constants/quantity.js
Due: lint, format

refactor: 불필요한 유틸함수 삭제제
  src/basic/utils/cartCalculations.js
  src/basic/utils/productUtils.js
  src/basic/utils/stockUtils.js
Due: lint, format

컴포넌트 분리
  src/basic/components/cart/cart-items.ts
  src/basic/components/cart/cart-tem.ts
  src/basic/components/grid/add-to-cart-button.ts
  src/basic/components/grid/grid-container.ts
  src/basic/components/grid/left-column.ts
  src/basic/components/grid/product-select.ts
  src/basic/components/grid/right-column.ts
  src/basic/components/grid/selector-container.ts
  src/basic/components/grid/stock-status.ts
  src/basic/components/grid/summary-detail-item.ts
  src/basic/components/header.ts
  src/basic/components/manual/manual-column.ts
  src/basic/components/manual/manual-overlay.ts
  src/basic/components/manual/manual-toggle.ts
  src/basic/handler/add-to-cart-button.ts
  src/basic/handler/cart-items.ts
  src/basic/handler/remove-cart-item.ts
  src/basic/main.basic.ts
  src/basic/utils/append-children.ts
  src/basic/utils/selector.ts
Due: none

데이터 관리
  src/basic/model/product-select.ts
  src/basic/model/products.ts
Due: none

html 진입점 ts 로 변경
  index.basic.html
Due: none

dom 캐시
  src/basic/handler/add-to-cart-button.ts
  src/basic/main.basic.ts
  src/basic/model/product-select.ts
  src/basic/utils/selector.ts
Due: none

feat: AddToCartForm 분리
  src/advanced/src/components/AddToCartSection.tsx
  src/advanced/src/components/CartDisplay.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm.tsx
  src/advanced/src/components/CartDisplay/CartItem.tsx
  src/advanced/src/components/CartDisplay/index.tsx
Due: none

function -> arrow function으로 정돈 rerender 하나의 함수로 정돈 rerender시 value가 없어져서 초기화 되는 이슈 수정
  src/basic/entities.ts
  src/basic/hooks.ts
  src/basic/main.basic.ts
  src/basic/render.ts
  src/basic/utils.ts
Due: none

refac: util 분리 - product, discount
  src/basic/main.basic.js
  src/utils/discountUtils.js
  src/utils/productUtils.js
Due: lint, format

상품 재고 상태
  src/basic/main.basic.ts
Due: none

전역 불필요한 코드 옮기기
  src/basic/model/products.ts
Due: none

feat: cartContext 생성
  src/advanced/src/contexts/cartContext.ts
  src/advanced/src/hooks/contexts/useCart.ts
  src/advanced/src/types/cart.ts
Due: none

refactor: 선택된 상품 id store로 관리
  src/basic/store.js
Due: lint, format

refactor: 이벤트 핸들러 파일 분리
  src/basic/App.js
  src/basic/utils/handlers.js
Due: lint, format

refactor: Clean Code 원칙 적용 및 React 변환 준비
  src/basic/main.basic.js
Due: lint, format

refactor: 매직 넘버 상수화
  src/basic/main.basic.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
