Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

feat: complete first basic code
  src/basic/controllers/saleTimers.js
  src/basic/event/eventHandlers.js
  src/basic/main.basic.js
  src/basic/services/orderSummary.js
Due: lint, format

feat: React TypeScript 쇼핑카트 앱 기본 구조 구현
  .github/workflows/deploy.yml
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/ManualOverlay.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.tsx
  src/advanced/hooks/useDiscountCalculation.ts
  vite.config.js
Due: format

refactor: 매직 넘버 제거 및 상수화 개선
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/react.test.jsx
  src/advanced/components/ManualOverlay.tsx
  src/advanced/constants.ts
  src/advanced/hooks/useDiscountCalculation.ts
  src/advanced/hooks/useProductManagement.ts
  src/advanced/main.advanced.js
Due: lint, format

Chore: React/TS 개발 환경 설정
  package.json
  pnpm-lock.yaml
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: none

Feat: 상태 관리 코어 및 타입 정의
  src/advanced/context/CartContext.tsx
  src/advanced/state/cartReducer.ts
  src/advanced/state/initialData.ts
  src/advanced/types.ts
Due: none

Feat: 비즈니스 로직 및 커스텀 훅 구현
  src/advanced/hooks/useCart.ts
  src/advanced/hooks/useSpecialSales.ts
  src/advanced/utils/calculator.ts
Due: none

Feat: UI 프레젠테이션 컴포넌트 구현
  src/advanced/components/CartItem.tsx
  src/advanced/components/CartList.tsx
  src/advanced/components/HelpModal.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.tsx
Due: none

Feat: 애플리케이션 조합 및 진입점 설정
  index.advanced.html
  src/advanced/App.tsx
  src/advanced/main.advanced.tsx
Due: none

Test: React 컴포넌트 테스트 코드 작성
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/advanced.test.tsx
Due: lint, format

refactor: 상수 및 헤더 컴포넌트 파일 분리
  .gitignore
  src/basic/components/layout.js
  src/basic/constants.js
  src/basic/main.basic.js
Due: lint, format

Feat: 배포 설정 추가
  .github/workflows/deploy.yml
  vite.config.js
Due: format

refactor: UI component 분리
  src/basic/components/cart/CartDisplay.js
  src/basic/components/cart/CartItem.js
  src/basic/components/cart/index.js
  src/basic/components/index.js
  src/basic/components/layout/GridContainer.js
  src/basic/components/layout/Header.js
  src/basic/components/layout/index.js
  src/basic/components/modal/ManualColumn.js
  src/basic/components/modal/ManualOverlay.js
  src/basic/components/modal/ManualToggle.js
  src/basic/components/modal/index.js
  src/basic/components/order/DiscountInfo.js
  src/basic/components/order/LoyaltyPoints.js
  src/basic/components/order/OrderSummary.js
  src/basic/components/order/index.js
  src/basic/components/product/ProductSelector.js
  src/basic/components/product/StockInfo.js
  src/basic/components/product/index.js
  src/basic/main.basic.js
Due: lint, format

feat: advanced 컴포넌트 생성
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/domain/product.ts
  src/advanced/lib/products.ts
Due: none

comment(basic): 필요없는 주석 정리
  src/basic/domain/cart.js
Due: lint, format

comment(basic): 필요없는 주석 정리
  src/basic/main.basic.js
  vite.config.js
Due: lint, format

refactor(basic): point관련 매직넘버 상수로 분리
  src/basic/const/point.js
  src/basic/domain/point.js
Due: lint, format

remove(basic): 중복되는 파일 제거
  src/basic/usecase/discount.js
Due: lint, format

refactor(basic): point 렌더 함수 view폴더로 이동
  src/basic/domain/point.js
  src/basic/main.basic.js
  src/basic/view/point.js
Due: lint, format

fix: update timer intervals
  src/basic/services/timerService.js
Due: lint, format

refactor: update createMockCartItem function signature
  src/advanced/__tests__/discountService.test.ts
Due: none

chore: pnpm lock파일 삭제
  pnpm-lock.yaml
Due: none

feat: 할인에 따른 장바구니 아이콘, 가격 렌더링
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/components/cart/ProductPrice.tsx
  src/advanced/data/time.data.ts
  src/advanced/utils/cart.util.ts
Due: none

심화과제
  .github/pull_request_template.md
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/components/AddToCartButton.tsx
  src/advanced/components/CartList.tsx
  src/advanced/components/GridContainer.tsx
  src/advanced/components/Header.tsx
  src/advanced/components/LeftColumn.tsx
  src/advanced/components/Manual.tsx
  src/advanced/components/Point.tsx
  src/advanced/components/ProductSelect.tsx
  src/advanced/components/RightColumn.tsx
  src/advanced/components/SelectorContainer.tsx
  src/advanced/components/StockStatus.tsx
  src/advanced/components/SummaryDetails.tsx
  src/advanced/constants/day.ts
  src/advanced/constants/discount.ts
  src/advanced/constants/point.ts
  src/advanced/constants/quantity.ts
  src/advanced/hooks/cart.tsx
  src/advanced/hooks/products.tsx
  src/advanced/stores/cart.ts
  src/advanced/stores/products.ts
  src/advanced/utils/day.ts
  src/advanced/utils/discount.ts
  src/advanced/utils/find.ts
  src/advanced/utils/point.ts
  src/advanced/utils/price.ts
  src/advanced/utils/quantity.ts
  src/advanced/utils/sale-event.ts
Due: format

refactor: replace CartDisplay with CartList component
  src/basic/components/CartDisplay.js
  src/basic/components/CartList.js
  src/basic/events/listeners/cartListeners.js
  src/basic/main.basic.js
  src/basic/services/productService.js
Due: lint, format

feat: 할인에 따른 주문 요약 가격 렌더링
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/components/cart/ProductPrice.tsx
  src/advanced/data/discount.data.ts
  src/advanced/hooks/useDiscount.ts
  src/advanced/hooks/useOrderSummary.ts
  src/advanced/hooks/useTimer.ts
  src/advanced/store/useProductStore.ts
  src/advanced/types/cart.type.ts
  src/advanced/types/index.ts
  src/advanced/utils/product.util.ts
Due: none

feat: 카트 아이템 가격 렌더링 통일
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/components/cart/ProductPrice.tsx
  src/advanced/hooks/useDiscount.ts
Due: none

chore: 콘솔 삭제
  src/basic/events/listeners/productListeners.js
Due: lint, format

feat: var제거, 컴포넌트 분리
  src/basic/main.basic.js
  src/components/AddButton.js
  src/components/ProductSelector.js
  src/components/StockInfo.js
Due: lint, format

refactor: 변수명과 함수명 Clean Code 규칙 적용
  src/basic/main.basic.js
Due: lint, format

refactor: handleAddToCart 함수 수정
  src/basic/main.basic.js
Due: lint, format

refac: AddToCartForm - 자녀 컴포넌트 분리
  src/advanced/src/components/CartDisplay/AddToCartForm.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm/AddToCartButton.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm/ProductOption.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm/ProductSelect.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm/StockStatus.tsx
  src/advanced/src/components/CartDisplay/AddToCartForm/index.tsx
Due: none

feat: app component 구성
  apps/advanced/src/App.tsx
Due: none

feat: 주문 요약 할인 정보 렌더링
  src/advanced/components/order/BasicDiscount.tsx
  src/advanced/components/order/CartTotal.tsx
  src/advanced/components/order/DiscountInfo.tsx
  src/advanced/components/order/SpecialDiscount.tsx
  src/advanced/hooks/useDiscount.ts
  src/advanced/hooks/useOrderSummary.ts
  src/advanced/utils/discount.util.ts
  src/advanced/utils/format.util.ts
Due: none

feat: add test code in advanced
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/advanced.test.ts
  src/advanced/main.advanced.js
  src/basic/main.basic.js
  src/main.original.js
Due: lint, format

feat: add basic file include type in advaced
  src/advanced/components/CartItem.ts
  src/advanced/components/Header.ts
  src/advanced/components/HelpModal.ts
  src/advanced/components/LeftColumn.ts
  src/advanced/components/OrderSummary.ts
  src/advanced/components/ProductContainer.ts
  src/advanced/constants/index.ts
  src/advanced/controllers/saleTimers.ts
  src/advanced/data/products.ts
  src/advanced/event/eventHandlers.ts
  src/advanced/main.advanced.ts
  src/advanced/services/cart.ts
  src/advanced/services/discount.ts
  src/advanced/services/orderSummary.ts
  src/advanced/services/points.ts
  src/advanced/services/product.ts
  src/advanced/store/state.ts
  src/advanced/types/index.ts
  src/advanced/utils/dom.ts
  src/advanced/utils/formatters.ts
Due: none

refactor: 개행 추가 및 선언형으로 변경
  src/basic/main.basic.js
Due: lint, format

refactor: id로 상품 찾는 findProductById 유틸 작성
  src/basic/main.basic.js
Due: lint, format

refactor(basic): 매직 넘버 상수 추출 및 const폴더로 이동
  src/basic/const/discount.js
  src/basic/const/point.js
  src/basic/const/stock.js
  src/basic/data/product.js
  src/basic/domain/point.js
  src/basic/domain/product.js
  src/basic/main.basic.js
  src/basic/usecase/applyDiscount.js
Due: lint, format

style(basic): import sort
  src/basic/main.basic.js
Due: lint, format

feat: Manual 구현 및 컴포넌트 부모-자식 렌더링 추가
  src/advanced/App.jsx
  src/advanced/components/GridContainer.jsx
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/ManualOverlay.jsx
  src/advanced/components/ManualToggle.jsx
  src/advanced/components/manual/Manual.jsx
  src/advanced/components/manual/ManualColumn.jsx
  src/advanced/components/manual/ManualOverlay.jsx
  src/advanced/components/manual/ManualToggle.jsx
  src/advanced/components/selector/SelectorContainer.jsx
  src/advanced/components/selector/StockInfoText.jsx
Due: none
