Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

refactor: loyalty points ui 분리
  src/basic/main.basic.js
Due: lint, format

refac: OrderSummary 컴포넌트 세부 분리
  src/basic/main.basic.js
  src/components/Layout.js
  src/components/OrderSummary/CartTotal.js
  src/components/OrderSummary/CheckoutButton.js
  src/components/OrderSummary/DiscountInfo.js
  src/components/OrderSummary/OrderDetails.js
  src/components/OrderSummary/TuesdayDiscount.js
  src/components/OrderSummary/index.js
  src/components/ProductData.js
Due: lint, format

refactor: 템플릿 리터럴로 문자열 변환
  src/basic/main.basic.js
Due: lint, format

feat(advanced): add TypeScript configuration
  apps/advanced/package.json
  apps/advanced/tsconfig.json
  apps/advanced/vite.config.js
  package.json
Due: lint, format

feat(advanced): create TypeScript React components
  apps/advanced/src/App.tsx
  apps/advanced/src/main.tsx
  apps/advanced/src/setupTests.ts
Due: none

fix(eslint): remove non-existent React ESLint rules
  packages/eslint-config/react.config.js
Due: lint, format

refactor: remove root ESLint and Prettier configurations
  .prettierrc
  eslint.config.js
Due: none

feat: complete shared ESLint and Prettier packages
  packages/eslint-config/README.md
  packages/eslint-config/eslint.config.js
  packages/eslint-config/js.config.js
  packages/eslint-config/package.json
  packages/eslint-config/ts.config.js
  packages/prettier-config/README.md
  packages/prettier-config/js.config.js
  packages/prettier-config/package.json
  packages/prettier-config/prettier.config.js
  packages/prettier-config/react.config.js
  packages/prettier-config/ts.config.js
Due: lint, format

chore: update dependencies and lock file
  pnpm-lock.yaml
Due: none

refac: CartDisplay 컴포넌트 세부 분리
  src/basic/main.basic.js
  src/components/CartDisplay.js
  src/components/CartDisplay/CartItem.js
  src/components/CartDisplay/index.js
Due: lint, format

refactor: 요소 생성 함수가 인자를 받도록 개선
  src/basic/components/CartProduct.js
  src/basic/components/ManualOverlay.js
  src/basic/components/ManualToggle.js
  src/basic/components/ProductOption.js
  src/basic/main.basic.js
Due: lint, format

init: setting
  .eslintrc.cjs
  .prettierrc
  package-lock.json
  package.json
Due: none

docs: Basic에서 Advanced로의 마이그레이션 계획 및 구현 가이드 추가 (#3)
  docs/06-basic-to-advanced-migration-plan.md
  docs/07-advanced-implementation-guide.md
  docs/08-migration-checklist.md
  docs/09-brownfield-advanced-migration.md
  docs/PR-01-basic-to-advanced-migration-epics-and-stories.md
  docs/epics/01-basic-to-advanced-migration-epic.md
Due: format

docs: cursorrules 설정
  .cursorrules
Due: none

feat: prettier & eslint 설치
  package.json
  pnpm-lock.yaml
Due: none

refactor: Selector 관련 컴포넌트들 분리, CartItemBox 컴포넌트로 분리
  src/basic/components/CartItemBox.js
  src/basic/components/index.js
  src/basic/components/selector/AddButton.js
  src/basic/components/selector/StockInfoText.js
  src/basic/main.basic.js
Due: lint, format

fix: var를 let이나 const로 전체 수정
  src/basic/main.basic.js
Due: lint, format

fix : 조건문 수정, 의미없는 변수 정리, 중복 코드 제거 ,데이터 기반 로직, 복잡한 조건 분리 등 수정
  docs/07-ai-refactoring-phase2-report.md
  src/basic/constant/index.js
  src/basic/main.basic.js
Due: lint, format

refactor: 흩어진 전역변수 선언 위치를 상단으로 변경
  src/basic/main.basic.js
Due: lint, format

refac: Manual 컴포넌트 세부 분리
  src/basic/main.basic.js
  src/components/Manual.js
  src/components/Manual/DiscountPolicy.js
  src/components/Manual/ManualColumn.js
  src/components/Manual/Point.js
  src/components/Manual/Tip.js
  src/components/Manual/index.js
  src/components/ManualToggle.js
Due: lint, format

feat: 선언형 프로그래밍 패러다임 적용 (#4)
  README.md
  apps/advanced/package.json
  apps/advanced/src/constants/__tests__/products.test.ts
  apps/advanced/src/constants/discountPolicies.ts
  apps/advanced/src/constants/pointsPolicies.ts
  apps/advanced/src/constants/products.ts
  apps/advanced/src/types/__tests__/product.types.test.ts
  apps/advanced/src/types/cart.types.ts
  apps/advanced/src/types/index.ts
  apps/advanced/src/types/product.types.ts
  apps/advanced/src/types/promotion.types.ts
  apps/advanced/src/utils/__tests__/calculations.test.ts
  apps/advanced/src/utils/__tests__/discounts.test.ts
  apps/advanced/src/utils/__tests__/points.test.ts
  apps/advanced/src/utils/calculations.ts
  apps/advanced/src/utils/discounts.ts
  apps/advanced/src/utils/formatters.ts
  apps/advanced/src/utils/points.ts
  apps/advanced/src/utils/validators.ts
  docs/07-advanced-implementation-guide.md
  docs/08-migration-checklist.md
  pnpm-lock.yaml
Due: format

feat: prettier 설정
  .prettierrc
Due: none

feat: airbnb rule을 사용해 eslint 설정
  eslint.config.js
Due: none

refac: PointDisplay 컴포넌트 형태 통일
  src/basic/main.basic.js
  src/components/PointsDisplay.js
  src/components/TuesdaySpecial.js
Due: lint, format

fix : header 주석 변경
  src/basic/components/Header.js
Due: lint, format

feat: React Context API 구현 및 선언적 프로그래밍 패러다임 적용 (#5)
  apps/advanced/index.html
  apps/advanced/src/context/CartContext.tsx
  apps/advanced/src/context/__tests__/CartContext.test.tsx
  apps/advanced/src/main.tsx
  apps/advanced/src/utils/__tests__/calculations.test.ts
Due: format

각종 함수들 레이어에 맞게 분리
  src/basic/constants/index.js
  src/basic/constants/productConstants.js
  src/basic/domains/cart.js
  src/basic/domains/index.js
  src/basic/domains/points.js
  src/basic/domains/product.js
  src/basic/initialization/initService.js
  src/basic/main.basic.js
  src/basic/services/event/eventService.js
  src/basic/services/ui/uiService.js
  src/basic/state/appState.js
Due: lint, format

refactor: 변수 선언과 초기화를 통합, 일부 변수는 지역변수로 이동
  src/basic/main.basic.js
Due: lint, format

chore: 주석 제거
  src/basic/main.basic.js
Due: lint, format

refactor: 상품 관련 상수 및 컴포넌트 구조 개선
  src/basic/components/CartItem.js
  src/basic/components/Header.js
  src/basic/components/OrderSummary.js
  src/basic/components/ProductSelector.js
  src/basic/constants/PRODUCT_IDS.js
  src/basic/constants/discount.js
  src/basic/constants/index.js
  src/basic/constants/point.js
  src/basic/constants/price.js
  src/basic/constants/product.js
  src/basic/constants/quantity.js
  src/basic/constants/timer.js
  src/basic/data/product.js
  src/basic/dom/createElements.js
  src/basic/dom/updateElements.js
  src/basic/main.basic.js
  src/basic/services/cartService.js
  src/basic/store/cartStore.js
  src/basic/utils/productDisplay.js
Due: lint, format

refactor: 돈 관련 로직 Money VO로 분리
  src/basic/main.basic.js
  src/core/domain/entities/product.js
  src/core/domain/vo/discount-rate.js
  src/core/domain/vo/money.js
  src/core/domain/vo/quantity.js
  src/infrastructure/repositories/product/inmemory-product-repository.js
  src/infrastructure/repositories/product/product-repository.js
Due: lint, format

feat: 커스텀 Hook 구현 완료 - 선언적 프로그래밍 패러다임 적용 (#6)
  apps/advanced/src/constants/discountPolicies.ts
  apps/advanced/src/constants/pointsPolicies.ts
  apps/advanced/src/hooks/__tests__/useCalculations.test.ts
  apps/advanced/src/hooks/__tests__/useProducts.test.ts
  apps/advanced/src/hooks/__tests__/usePromotions.test.ts
  apps/advanced/src/hooks/index.ts
  apps/advanced/src/hooks/useCalculations.ts
  apps/advanced/src/hooks/useProducts.ts
  apps/advanced/src/hooks/usePromotions.ts
Due: none

chore: eslint, prettier 설정
  .prettierignore
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/advanced/__tests__/advanced.test.js
  src/basic/__tests__/basic.test.js
  src/basic/main.basic.js
  src/setupTests.js
  vite.config.js
Due: lint, format

Chore: eslint & prettier 설정.
  .eslintrc.js
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

init: initial commit
  src/main.original.js
Due: lint, format

ESLint 및 Prettier 설정 추가
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

chore: eslint 및 prettier 팀 컨벤션에 맞게 수정
  .prettierrc
  eslint.config.js
Due: none

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
