Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

chore: 삭제된 내용 복구중
  src/basic/main.basic.js
Due: lint, format

refactor: 로직 개선 및 함수 분리
  src/basic/data/product.data.js
  src/basic/main.basic.js
  src/basic/utils/cart.util.js
  src/basic/utils/product.util.js
Due: lint, format

refactor: App.js코드 위치 수정
  src/basic/App.js
Due: lint, format

refactor: cart 이벤트 리스너 등록 분리
  src/basic/eventListeners.js
  src/basic/main.basic.js
Due: lint, format

refactor: 번개세일, 추천세일 적용 함수 추가
  src/basic/features/product/service.js
  src/basic/main.basic.js
Due: lint, format

chore: advanced 하기 위한 템플릿 적용
  eslint.config.js
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/components/guide/GuideToggle.tsx
  src/advanced/components/guide/ShoppingGuide.tsx
  src/advanced/components/layout/Header.tsx
  src/advanced/components/layout/Layout.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/lib/product.ts
  src/advanced/main.tsx
  tsconfig.json
  vite.config.js
Due: none

refactor: 변수명을 명확하게 변경 (val → price, originalVal → originalPrice, q → quantity)
  src/advanced/constants.ts
  src/advanced/types.ts
Due: none

feat: 장바구니 재고 및 수량 관리 로직 분리
  src/basic/features/cart/events/cartEventHandler.js
  src/basic/features/cart/utils/stockUtils.js
  src/basic/shared/constants/elementIds.js
Due: lint, format

feat: GitHub Pages 배포 설정 추가
  .github/workflows/deploy.yml
  README.md
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: format

refactor: 상품 선택 컴포넌트 로직 정리 및 최적화
  src/advanced/components/cart/ProductPicker.tsx
Due: none

refactor: App.tsx에서 함수명을 handle + 이벤트명 패턴으로 변경
  src/advanced/App.tsx
Due: none

refactor: ProductSelector 컴포넌트 리팩토링
  src/advanced/components/ProductSelector.tsx
Due: none

refactor: DOM 이벤트 핸들러 및 초기화 로직 개선
  src/basic/main.basic.js
Due: lint, format

refactor: 장바구니 항목 렌더링 방식 개선
  src/advanced/components/cart/ShoppingCart.tsx
Due: none

refactor: 나머지 컴포넌트들 리팩토링
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/ManualOverlay.tsx
  src/advanced/components/OrderSummary.tsx
Due: none

refactor: 훅들 리팩토링
  src/advanced/hooks/useCartManagement.ts
  src/advanced/hooks/useDiscountCalculation.ts
  src/advanced/hooks/useProductManagement.ts
Due: none

feat: 공통 유틸 함수 생성
  src/advanced/utils.ts
Due: none

refactor: 헤더 컴포넌트 스타일 및 구조 정비
  src/advanced/components/layout/Header.tsx
Due: none

refactor: 상품 유틸 함수 분리 및 리팩토링
  src/advanced/components/lib/product.ts
Due: none

refactor: 주문 요약 컴포넌트 구조 개선
  src/advanced/components/order/OrdereSummary.tsx
Due: none

refactor: 상수 정의 정리
  src/advanced/constants/index.ts
Due: none

refactor: 장바구니 로직 커스텀 훅으로 분리
  src/advanced/hooks/useCart.ts
Due: none

refactor: 장바구니 계산 로직 별도 훅으로 분리
  src/advanced/hooks/useCartCalculation.ts
Due: none

refactor: 상품 상태 관리 로직 훅으로 추출
  src/advanced/hooks/useProducts.ts
Due: none

refactor: 타입 정의 통합 및 정리
  src/advanced/types/index.ts
Due: none

refactor: 장바구니 총액 계산 로직 개선
  src/basic/features/order/components/CartTotal.js
  src/basic/shared/utils/dom.js
Due: lint, format

refactor: 전체 앱 구조 정리 및 훅 통합 적용
  src/advanced/App.tsx
Due: none

refactor(advanced): basic product도메인에 있던 상품 옵션 가져오는 함수 리액트에 맞게 변경
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/utils/productUtils.ts
Due: none

feat: 이벤트 함수 추가
  src/advanced/App.jsx
  src/advanced/utils/hooks.js
Due: lint, format

refactor: 불변성 적용 - 직접 객체 수정을 불변 업데이트 메서드로 대체
  src/basic/main.basic.js
Due: lint, format

docs: Phase 3.4 불변성 적용 완료 - React 마이그레이션 100% 준비 완료
  docs/06-refactoring-progress.md
Due: format

feat: 세일 alert 기능 구현 및 상수 메세지 추가
  src/advanced/src/App.tsx
  src/advanced/src/components/CartProductItem.tsx
  src/advanced/src/components/ProductOption.tsx
  src/advanced/src/constants.ts
  src/advanced/src/lib/findSuggestProduct.ts
  src/advanced/src/main.tsx
  src/advanced/src/providers/GlobalReducer.ts
  src/advanced/src/services/calculateBonusPoint.ts
  src/advanced/src/services/useSaleAlert.ts
  src/advanced/src/type.ts
  src/basic/html/components/CartProduct.js
  src/basic/html/components/ProductOption.js
  src/basic/html/constants/constants.js
  src/basic/html/services/applySaleAlert.js
  src/basic/html/services/calculateBonusPoint.js
  src/basic/html/states/cartState.js
  src/basic/html/states/productState.js
  src/basic/main.basic.js
Due: lint, format

feat: ProductSelector 에 productList 렌더 추가
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/selector/ProductSelector.jsx
  src/advanced/components/selector/SelectorContainer.jsx
Due: none

fix: hidden 조건 수정
  src/advanced/components/RightColumn.jsx
Due: none

deploy: 배포를 위한 작업 진행
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

refactor: 유틸함수 분리
  src/advanced/components/cart/ProductPrice.tsx
  src/advanced/utils/cart.util.ts
  src/advanced/utils/product.util.ts
  src/basic/components/CartItem.js
  src/basic/components/cart/ProductPrice.js
  src/basic/data/discount.data.js
  src/basic/main.basic.js
  src/basic/utils/cart.util.js
  src/basic/utils/discount.util.js
  src/basic/utils/format.util.js
  src/basic/utils/point.util.js
  src/basic/utils/product.util.js
  src/basic/utils/stock.util.js
Due: lint, format

refactor: 매직넘버 제거 및 상수 추가
  .vite/deps/_metadata.json
  .vite/deps/chunk-5LLO2U4P.js
  .vite/deps/chunk-5LLO2U4P.js.map
  .vite/deps/package.json
  .vite/deps/react-dom_client.js
  .vite/deps/react-dom_client.js.map
  .vite/deps/react.js
  .vite/deps/react.js.map
  .vite/deps/react_jsx-dev-runtime.js
  .vite/deps/react_jsx-dev-runtime.js.map
  index.html
  package.json
  public/index.html
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/react.test.jsx
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/ManualOverlay.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.tsx
  src/advanced/constants.ts
  src/advanced/hooks/useProductManagement.ts
  src/advanced/utils.ts
  src/basic/businessLogic.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
  vite.config.js
Due: lint, format

feat: 상수, 타입, 데이터 정의 - TypeScript 기반 상수 분리 및 타입 정의 추가
  src/advanced/src/constants/index.ts
  src/advanced/src/data/products.ts
  src/advanced/src/types/index.ts
Due: none

feat: 유틸리티 함수들 분리 - 날짜, 상품, 재고, 할인, 포인트 관련 유틸리티 함수들을 TypeScript로 변환
  src/advanced/src/constants/index.ts
  src/advanced/src/utils/date.ts
  src/advanced/src/utils/discount.ts
  src/advanced/src/utils/points.ts
  src/advanced/src/utils/product.ts
  src/advanced/src/utils/stock.ts
Due: none

feat: 장바구니 상품 렌더링 함수 추가
  src/basic/features/product/render.js
Due: lint, format
