Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

feat: add product and cart related event constants
  src/basic/constants/events.js
  src/basic/events/listeners/cartListeners.js
  src/basic/events/listeners/productListeners.js
  src/basic/services/timerService.js
Due: lint, format

refactor: update event listeners to use constants for cart and order events
  src/basic/constants/events.js
  src/basic/events/listeners/cartListeners.js
  src/basic/events/listeners/orderListeners.js
  src/basic/events/listeners/productListeners.js
  src/basic/main.basic.js
  src/basic/services/productService.js
  src/basic/services/timerService.js
Due: lint, format

refactor(advanced): basic에서 재활용 가능한 파일들 복사
  src/advanced/const/discount.ts
  src/advanced/const/point.ts
  src/advanced/const/stock.ts
  src/advanced/data/product.ts
  src/advanced/domain/product.ts
  src/advanced/utils/dateUtil.ts
Due: none

fix: 세일 알림 시 장바구니, 셀렉트박스 동시 업데이트가 되지 않는 이슈 수정
  src/advanced/src/components/CartDisplay/AddToCartForm/index.tsx
  src/advanced/src/contexts/cart/CartProvider.tsx
  src/advanced/src/services/saleService.ts
Due: none

refac: productOption - 선언적 로직 추가
  src/advanced/src/components/CartDisplay/AddToCartForm/ProductOption.tsx
Due: none

feat: Cart store와 actiion 분리
  src/basic/main.basic.js
  src/basic/store/cartStore.js
Due: lint, format

feat: getStockInfoMessage 추가
  src/advanced/components/selector/StockInfoText.jsx
  src/advanced/constants.js
  src/advanced/data.js
Due: lint, format

refactor: Linter 에러 해결 - const 변수 선언 및 함수 호이스팅 정리
  src/basic/main.basic.js
Due: lint, format

refactor: 장바구니 서비스 분리
  src/basic/main.basic.js
  src/basic/services/cart/CartService.js
Due: lint, format

feat: React Testing Library 호환 테스트 스위트 구현
  apps/advanced/__tests__/advanced.test.js
  apps/advanced/__tests__/advanced.test.tsx
  apps/advanced/package.json
  apps/advanced/setupTests.js
  apps/advanced/setupTests.ts
  pnpm-lock.yaml
Due: lint, format

refactor: 상품 구매 수량 별 포인트 계산 분리
  src/basic/constants.js
  src/basic/main.basic.js
Due: lint, format

feat: 전역으로 사용되는 변수 제거 작업, state추가
  src/basic/main.basic.js
  src/components/CartDisplay.js
Due: lint, format

feat: render 분리
  src/basic/utils/UIRenderer.js
  src/basic/utils/renderers/CartRenderer.js
  src/basic/utils/renderers/OrderRenderer.js
  src/basic/utils/renderers/ProductRenderer.js
  src/basic/utils/renderers/index.js
Due: lint, format

refac: CartItem - 컴포넌트 분리
  src/advanced/src/components/CartDisplay/CartItem.tsx
  src/advanced/src/components/CartDisplay/CartItem/PriceDisplay.tsx
  src/advanced/src/components/CartDisplay/CartItem/QuantityControls.tsx
  src/advanced/src/components/CartDisplay/CartItem/index.tsx
  src/advanced/src/components/CartDisplay/index.tsx
Due: none

feat: 장바구니 수량 증가, 감소
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/store/useCartStore.ts
Due: none

Docs: 기타 문서 제거
  project-history/01_initial_refactoring.md
Due: format

feat: 이벤트 핸들러 분리
  src/basic/main.basic.js
  src/basic/store/cartStore.js
  src/basic/utils/EventHandler.js
  src/basic/utils/TimerHandler.js
Due: lint, format

refactor: 개별 상품 별 할인율 상수 분리 및 할인율 적용 조건문 리팩토링
  src/basic/constants.js
  src/basic/main.basic.js
Due: lint, format

refac: CartItem - PriceDisplay 플래그 추가, 분기처리
  src/advanced/src/components/CartDisplay/CartItem/PriceDisplay.tsx
  src/advanced/src/components/CartDisplay/CartItem/index.tsx
Due: none

chore: add onlyBuiltDependencies config to lefthook
  pnpm-workspace.yaml
Due: none

style: apply prettier formatting
  apps/advanced/__tests__/advanced.test.tsx
  apps/advanced/setupTests.js
  apps/advanced/src/App.tsx
Due: lint, format

refactor: StockInfo Props 전달 구조 개선
  src/advanced/App.jsx
  src/advanced/components/GridContainer.jsx
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/manual/ManualColumn.jsx
  src/advanced/components/selector/SelectorContainer.jsx
  src/advanced/components/selector/StockInfoText.jsx
Due: none

feat: Product store와 action 분리
  src/basic/main.basic.js
  src/basic/store/productStore.js
Due: lint, format

feat: initial data 분리
  src/basic/main.basic.js
  src/features/product.js
Due: lint, format

Refactor: calcCart 함수 분리 함수 모듈화.
  src/basic/main.basic.js
  src/basic/utils/cart.js
  src/basic/utils/discount.js
Due: lint, format

refactor: html template 분리
  src/basic/main.basic.js
  src/basic/templates/index.js
Due: lint, format

feat: 적립된 포인트 상세 렌더링
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/components/order/CartTotal.tsx
  src/advanced/components/order/PointInfo.tsx
  src/advanced/data/point.data.ts
  src/advanced/data/quantity.data.ts
  src/advanced/hooks/usePoint.ts
  src/advanced/types/point.type.ts
  src/advanced/utils/point.util.ts
Due: none

feat: isLowStock 로직 추가
  src/advanced/App.jsx
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/selector/ProductSelector.jsx
  src/advanced/components/selector/SelectorContainer.jsx
Due: none

feat: 공통 컴포넌트 header 및 icon 컴포넌트 추출
  apps/advanced/src/App.tsx
  apps/advanced/src/shared/components/icons/CloseIcon.tsx
  apps/advanced/src/shared/components/icons/InfoIcon.tsx
  apps/advanced/src/shared/components/icons/MinusIcon.tsx
  apps/advanced/src/shared/components/icons/PlusIcon.tsx
  apps/advanced/src/shared/components/icons/index.ts
  apps/advanced/src/shared/components/index.ts
  apps/advanced/src/shared/components/layouts/Header.tsx
  apps/advanced/src/shared/components/layouts/index.ts
Due: none

feat:handleCalculateCartStuff 함수 분리
  src/basic/main.basic.js
Due: lint, format

refac: OrderSummary - 컴포넌트 분리
  src/advanced/src/components/OrderSummary.tsx
  src/advanced/src/components/OrderSummary/DiscountSection.tsx
  src/advanced/src/components/OrderSummary/DiscountSummaryCard.tsx
  src/advanced/src/components/OrderSummary/OrderItemsList.tsx
  src/advanced/src/components/OrderSummary/OrderTotalSection.tsx
  src/advanced/src/components/OrderSummary/TuesdaySpecial.tsx
  src/advanced/src/components/OrderSummary/index.tsx
Due: none

refactor: getHasItemInCart 개선
  src/basic/main.basic.js
Due: lint, format

chore(advanced): TypeScript를 위한 no-unused-vars 린트 설정으로 변경
  eslint.config.js
  tsconfig.json
Due: none

refactor(advanced): type 위치 변경
  src/advanced/data/product.ts
  src/advanced/domain/product.ts
  src/advanced/lib/products.ts
Due: none

feat: 이벤트 스토어 구현
  src/basic/eventStore.js
  src/basic/main.basic.js
Due: lint, format

refactor(advanced): basic의 domain을 react의 Context/Provider로 변경
  src/advanced/containers/MainContainer.tsx
  src/advanced/main.advanced.tsx
  src/advanced/store/CartContext.tsx
  src/advanced/store/ProductContext.tsx
Due: none

refactor: layout 컴포넌트 분리(header, grid, right, left)
  src/basic/components/layout.js
  src/basic/main.basic.js
Due: lint, format

refactor: getCalculatePoints 개선
  src/basic/main.basic.js
Due: lint, format

feat: 타이머 실행
  src/advanced/App.tsx
  src/advanced/components/product/AddButton.tsx
  src/advanced/hooks/useDiscount.ts
Due: none

test: advanced 테스트 수정 및 올패스
  src/advanced/__tests__/advanced.test.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
