Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

refactor: TypeScript 변환 2단계 - DOM 안전성 강화 및 렌더러 타입 정의
  src/basic/main.basic.ts
Due: none

refactor: TypeScript 변환 3단계 - 이벤트 핸들러 및 계산 함수 타입 완성
  src/basic/main.basic.ts
Due: none

feat: 장바구니 상태 관리 리팩토링 및 App.tsx 통합
  src/advanced/App.tsx
  src/advanced/features/cart/store/cartStore.js
  src/advanced/features/cart/store/cartStore.ts
  src/advanced/features/order/services/orderService.js
Due: lint, format

refactor: basic 폴더 변수명 개선 - 상품 데이터의 .q → .quantity로 변경하여 의미 명확화 - ProductOption 컴포넌트의 재고 수량 변수명 개선 - 코드 가독성 향상을 위한 변수명 표준화
  src/advanced/src/App.tsx
  src/advanced/src/components/cart/AddToCartButton.tsx
  src/advanced/src/components/layout/GridContainer.tsx
  src/advanced/src/components/manual/ManualToggle.tsx
  src/advanced/src/components/product/ProductOption.tsx
  src/advanced/src/components/summary/RightColumn.tsx
  src/advanced/src/data/products.ts
  src/advanced/src/services/LightningSaleService.ts
  src/advanced/src/services/SuggestSaleService.ts
  src/advanced/src/types/index.ts
  src/advanced/src/utils/discount.ts
  src/advanced/src/utils/stock.ts
  src/basic/components/product/ProductOption.js
  src/basic/data/products.js
  src/basic/events/cart.js
  src/basic/services/AppInitializer.js
  src/basic/services/CartCalculationService.js
  src/basic/services/LightningSaleService.js
  src/basic/services/SuggestSaleService.js
  src/basic/utils/stock.js
Due: lint, format

remove: 불필요한 장바구니 이벤트 핸들러 파일 삭제
  src/advanced/features/cart/events/cartEventHandler.js
Due: lint, format

docs: TypeScript 변환 완료 기록
  docs/06-refactoring-progress.md
Due: format

refactor: integrate discount calculation into utility function and update event listeners
  src/basic/components/ProductSelector.js
  src/basic/constants/events.js
  src/basic/events/listeners/cartListeners.js
  src/basic/main.basic.js
  src/basic/services/timerService.js
  src/basic/utils/discountUtils.js
Due: lint, format

refactor: 이벤트성 함수 분리
  src/advanced/App.jsx
  src/advanced/hooks/useIntervalPromotion.js
  src/advanced/services/event.js
Due: lint, format

fix: 장바구니 추가 기능 수정
  src/advanced/App.jsx
  src/advanced/components/SummaryDetails.jsx
Due: none

feat: 장바구니에서 제거
  src/advanced/App.jsx
  src/advanced/components/CartItem.jsx
  src/advanced/components/CartItemBox.jsx
Due: none

feat: CartItem 컴포넌트에 할인 가능 수량 로직 추가 및 가격 표시 개선
  src/advanced/features/cart/components/CartItem.tsx
  src/advanced/features/cart/services/cartUIService.js
Due: lint, format

feat: 재고 관련 유틸 함수들을 TypeScript로 변환
  src/advanced/features/cart/utils/stockUtils.js
  src/advanced/features/cart/utils/stockUtils.ts
Due: lint, format

feat: 재고 관리 로직 개선 및 수량 조정 기능 추가
  src/advanced/App.tsx
  src/advanced/features/cart/components/CartItem.tsx
Due: none

feat: OrderSummary에 할인 정보 상세 표시 추가
  eslint.config.js
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/contexts/CartContext.tsx
  src/advanced/lib/discount.ts
Due: none

refactor: basic 과제
  src/basic/__tests__/basic.test.js
  src/basic/constants/index.ts
  src/basic/domains/cart/cartManager.ts
  src/basic/domains/cart/cartRenderers.ts
  src/basic/domains/discounts/discountRenderers.ts
  src/basic/domains/points/pointsManager.ts
  src/basic/domains/products/productData.ts
  src/basic/domains/products/productRenderers.ts
  src/basic/domains/stock/stockManager.ts
  src/basic/main.basic.ts
  src/basic/types/index.ts
  src/basic/utils/dateUtils.ts
  src/basic/utils/domManager.ts
  src/basic/utils/eventHandlers.ts
  src/basic/utils/uiUpdaters.ts
Due: lint, format

feat: 장바구니 아이템 수량 조절 기능 구현
  src/advanced/App.jsx
  src/advanced/components/CartItem.jsx
  src/advanced/components/CartItemBox.jsx
Due: none

feat: 포인트 계산 로직 추가 및 App.tsx 수정
  src/advanced/App.tsx
  src/advanced/features/point/services/pointService.js
  src/advanced/features/point/services/pointsCalculator.js
  src/advanced/features/point/utils/pointsCalculator.ts
Due: lint, format

fix: 이벤트 이후 화면에 html 텍스트 출력되는 현상 개선
  src/advanced/components/CartItem.jsx
  src/advanced/components/SummaryDetails.jsx
Due: none

feat: 번개세일 및 추천할인 시스템 구현
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/contexts/CartContext.tsx
  src/advanced/hooks/useDiscount.ts
  src/advanced/lib/discount.ts
Due: none

feat: App.tsx에서 재고 상태 관리 로직 추가 및 포인트 계산 유틸리티 수정
  src/advanced/App.tsx
  src/advanced/features/point/utils/pointsUtils.js
  src/advanced/features/point/utils/pointsUtils.ts
  src/advanced/features/product/utils/productUtils.js
  src/advanced/features/product/utils/productUtils.ts
Due: lint, format

feat: 상품 상태 관리 및 서비스 관련 파일 삭제
  src/advanced/features/product/services/productService.js
  src/advanced/features/product/store/productStore.js
Due: lint, format

feat: 프로모션 서비스 및 가격 서비스 TypeScript로 변환
  src/advanced/features/cart/services/promotionPriceService.js
  src/advanced/features/cart/services/promotionPriceService.ts
  src/advanced/features/cart/services/promotionService.js
  src/advanced/features/cart/services/promotionService.ts
Due: lint, format

feat: App.tsx 및 장바구니 상태 관리 개선
  src/advanced/App.tsx
  src/advanced/features/cart/store/cartStore.ts
  src/advanced/features/point/utils/pointsCalculator.ts
Due: none

feat: 장바구니 계산 및 서비스 관련 파일 삭제
  src/advanced/features/cart/services/cartCalculator.js
  src/advanced/features/cart/services/cartService.js
Due: lint, format

feat(advanced): CartSummary부분 뷰컴포넌트 분리
  src/advanced/components/order/AppliedTuesdayDiscount.tsx
  src/advanced/components/order/DiscountList.tsx
  src/advanced/components/order/DiscountSummary.tsx
  src/advanced/components/order/FinalPriceSummary.tsx
  src/advanced/components/order/OrderList.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/components/order/SubTotal.tsx
Due: none

refactor(advanced): basic/usecase/applyDiscount 내용을 hook형태로 변경
  src/advanced/hooks/useCartSummary.ts
Due: none

refactor(advanced): usecase로 다시 분리 후 hook에선 로직 들고와서 쓰는 형태로 변경
  src/advanced/hooks/useCartSummary.ts
  src/advanced/usecase/applyDiscount.ts
Due: none

feat(chore): 보너스 계산 결과도 useCartSummary에 반영
  src/advanced/hooks/useCartSummary.ts
  src/advanced/usecase/point.ts
Due: none

rename(advanced): 포인트 계산 로직 파일 이름 변경
  src/advanced/hooks/useCartSummary.ts
  src/advanced/usecase/calculateBonusPoints.ts
Due: none

refactor(advanced): useCartSummary에서 할인여부 담는 불린값을 리턴값에 추가 및 리턴형태 변경
  src/advanced/hooks/useCartSummary.ts
Due: none

feat(advanced): OrderSummary에 할인 내역 연동
  src/advanced/components/order/DiscountList.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/hooks/useCartSummary.ts
Due: none

feat(advanced): OrderSummary 데이터 연동 완료
  src/advanced/components/order/FinalPriceSummary.tsx
  src/advanced/components/order/OrderList.tsx
  src/advanced/components/order/OrderSummary.tsx
Due: none

feat: Header에 동적 아이템 카운트 기능 추가
  src/advanced/components/layout/Header.tsx
Due: none

refactor: PointSummary 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

feat: 장바구니 계산 로직 통합 및 할인 정보 표시 추가
  src/advanced/App.tsx
  src/advanced/features/cart/services/cartCalculator.ts
  src/advanced/features/order/components/OrderSummaryDetails.tsx
Due: none

feat: 패키지 및 빌드 설정 업데이트
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

feat: 장바구니 할인 표시 기능 추가
  src/advanced/components/cart/ShoppingCart.tsx
Due: none

feat: App.tsx에서 프로모션 콜백 로직 개선
  src/advanced/App.tsx
Due: none

refactor: 가격 표시 UI 컴포넌트 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

feat: 프로모션 타이머 및 콜백 통합 개선
  src/advanced/App.tsx
  src/advanced/features/cart/services/promotionService.ts
Due: none

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
