Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

chore: 코드 품질 도구 설정
  .prettierrc
  eslint.config.js
  tsconfig.json
Due: none

feat: cart 상태를 store와 action으로 분리
  src/basic/store/cartStore.js
Due: lint, format

chore: prettier, eslint 설정
  .cursorrules
  .github/pull_request_template.md
  .husky/pre-commit
  .prettierignore
  .prettierrc
  README.md
  docs/README.md
  eslint.config.js
  index.advanced.html
  index.basic.html
  index.html
  package.json
  pnpm-lock.yaml
  src/setupTests.js
  vite.config.js
Due: lint, format

docs: docs에 리팩토링 규칙 문서, 리팩토링 계획 추가
  .cursor/rules/assignment.mdc
  .cursor/rules/clean-code.mdc
  .cursor/rules/toss-frontend-rules.mdc
  docs/01-PRD.md
  docs/02-dirty-code-analysis.md
  docs/03-cart-tailwind-evaluation.md
  docs/04-practical-clean-code-guide.md
  docs/05-clean-code-theory-lesson.md
  docs/06-clean-code.md
  docs/리팩토링계획.md
Due: format

refactor: var 변수 let, const로 변경
  src/basic/main.basic.js
Due: lint, format

Chore: prettierignore 설정 및 package.json name 수정.
  .prettierignore
  package.json
Due: none

chore: 코드 컨벤션 툴 세팅
  .husky/pre-commit
  .prettierrc
  docs/CHANGESET.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: format

refactor: 제품 목록 상수화
  src/basic/data/product.data.js
Due: lint, format

chore: eslint airbnb 규칙 적용
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

docs: 코드스멜 찾아보기
  docs/CHANGESET.md
Due: format

feat: ESLint, Prettier 설정 및 Airbnb 룰 적용
  src/basic/main.basic.js
Due: lint, format

refactor: var 변수 제거
  src/basic/main.basic.js
Due: lint, format

feat: 컴포넌트 마이그레이션 완료 - 테일윈드 CSS 스타일 적용 (#7)
  .cursor/rules/dev.mdc
  apps/advanced/package.json
  apps/advanced/src/App.tsx
  apps/advanced/src/__tests__/acceptance.test.tsx
  apps/advanced/src/__tests__/integration.test.tsx
  apps/advanced/src/components/cart/CartDisplay.tsx
  apps/advanced/src/components/cart/CartItem.tsx
  apps/advanced/src/components/cart/OrderSummary.tsx
  apps/advanced/src/components/index.ts
  apps/advanced/src/components/product/ProductSelector.tsx
  apps/advanced/src/context/__tests__/CartContext.test.tsx
  apps/advanced/tsconfig.json
  apps/advanced/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix: ESLint 설정 수정 및 의존성 추가
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

feat: 프론트엔드 개발 에이전트 규칙 추가 - Juno 에이전트 활성화 및 작업 지침 정의
  .cursor/rules/dev.mdc
Due: none

feat: cart Store 및 Action으로 분리
  src/basic/store/cartStore.js
Due: lint, format

chore: 불필요한 변수 제거
  src/basic/main.basic.js
Due: lint, format

refactor: 변수명 일관성 개선 및 코드 구조 정리
  src/basic/main.basic.js
Due: lint, format

refactor: 변수 스코프 최소화
  src/basic/main.basic.js
Due: lint, format

ESLint 및 Prettier 설정 업데이트
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

docs: 리팩토링 계획 세우기
  docs/CHANGESET.md
Due: format

feat: cartService를 도입하여 장바구니 로직 개선
  src/basic/main.basic.js
  src/basic/services/cartService.js
Due: lint, format

refactor: 수량 관련 로직 Quantity VO로 분리
  src/basic/main.basic.js
  src/core/_service/get-product-list.js
  src/core/domain/entities/product.js
  src/core/domain/vo/quantity.js
  src/infrastructure/repositories/product/product-repository.js
  src/utils/math.js
Due: lint, format

refac: 이벤트 등록방식 통일
  src/basic/main.basic.js
  src/components/CartDisplay/index.js
  src/components/Manual/index.js
  src/components/ManualToggle.js
  src/components/OrderSummary/DiscountInfo.js
  src/components/OrderSummary/index.js
  src/components/ProductSelector.js
Due: lint, format

refactor: 매직 넘버 상수화 및 상수 파일 분리
  docs/리팩토링계획.md
  src/basic/data/date.data.js
  src/basic/data/discount.data.js
  src/basic/data/point.data.js
  src/basic/data/product.data.js
  src/basic/data/quantity.data.js
  src/basic/data/time.data.js
  src/basic/main.basic.js
Due: lint, format

Chore: tsconfig js 파일 타입 체크 제외.
  tsconfig.json
Due: none

Refactor: 변수 선언과 네이밍 문제점 개선.
  src/basic/main.basic.js
Due: lint, format

style: lint 적용
  src/basic/main.basic.js
Due: lint, format

feat: lint ignore 설정
  .eslintignore
Due: none

제품 및 할인 상수 추가
  src/basic/constants/discounts.js
  src/basic/constants/products.js
Due: lint, format

chore: 화요일 관련 테스트 변경
  src/basic/__tests__/basic.test.js
Due: lint, format

feat: 기본 테스트 파일 업데이트 - 화요일 할인 로직 및 타이머 설정 개선
  apps/basic/src/__tests__/basic.test.js
  apps/original/package.json
  apps/original/src/__tests__/basic.test.js
Due: lint, format

test: 화요일 관련 테스트에서만 화요일로 설정하고, 나머지는 월요일로 유지
  src/basic/__tests__/basic.test.js
Due: lint, format

docs: 커서룰 적용
  .cursor/rules/dev.mdc
Due: none

feat: add prettier & eslint rules
  .prettierrc
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

refactor: 상품 ID 상수 통일
  src/basic/main.basic.js
Due: lint, format

refactor: Header 추가 및 createHeader 함수 리팩토링
  src/basic/features/shopping-cart/components/Header.js
  src/basic/main.basic.js
Due: lint, format

refactor: 도움말 모달 컴포넌트 추가 및 메인 파일에 통합
  src/basic/features/shopping-cart/components/HelpModal.js
  src/basic/main.basic.js
Due: lint, format

docs: add docs files
  spec/dirty-code-analysis.md
  spec/refactoring-strategy.md
Due: format

fix: basic.test 수정
  src/basic/__tests__/basic.test.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
