Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

refactor: 중복 코드 제거
  src/basic/main.basic.js
Due: lint, format

refactor: 반복문 선언형으로 변경
  src/basic/main.basic.js
Due: lint, format

refactor: 함수명 변경
  src/basic/main.basic.js
Due: lint, format

refactor: 컴포넌트 구조 개선
  src/basic/components/cart/AddToCartButton.js
  src/basic/components/cart/CartDisplay.js
  src/basic/components/cart/NewItem.js
  src/basic/components/layout/GridContainer.js
  src/basic/components/layout/Header.js
  src/basic/components/layout/LeftColumn.js
  src/basic/components/layout/SelectorContainer.js
  src/basic/components/manual/ManualColumn.js
  src/basic/components/manual/ManualOverlay.js
  src/basic/components/manual/ManualToggle.js
  src/basic/components/product/ProductOption.js
  src/basic/components/product/ProductSelector.js
  src/basic/components/product/StockInfo.js
  src/basic/components/summary/LoyaltyPointsTag.js
  src/basic/components/summary/RightColumn.js
  src/basic/main.basic.js
Due: lint, format

feat: 매뉴얼 토글 기능 추가
  src/advanced/src/components/Button/ManualButton.tsx
  src/advanced/src/components/ManualOverlay.tsx
  src/advanced/src/components/ManualSideBar.tsx
Due: none

chore: 불필요한 주석 제거
  src/advanced/src/components/CartContainer.tsx
  src/advanced/src/components/OrderSummaryBox.tsx
  src/advanced/src/layouts/CartLayout.tsx
  src/advanced/src/layouts/Header.tsx
Due: none

WIP Refactor: calcCart 함수 분리.
  src/basic/main.basic.js
Due: lint, format

refactor: 애플리케이션 초기화 로직 통합 및 구조 개선
  src/basic/data/products.js
  src/basic/main.basic.js
  src/basic/services/AppInitializer.js
Due: lint, format

refactor: 모듈 분리 및 비즈니스 로직 개선
  src/basic/businessLogic.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

WIP Refactor: calcCart 함수 분리.
  src/basic/main.basic.js
  src/basic/utils/discount.js
Due: lint, format

style: prettier format all
  apps/basic/features/cart/index.js
  apps/basic/features/cart/services/cartService.js
  apps/basic/features/loyalty/index.js
  apps/basic/features/loyalty/services/loyaltyService.js
  apps/basic/features/sales/index.js
  apps/basic/features/sales/services/lightningService.js
  apps/basic/features/sales/services/suggestService.js
  eslint.config.js
Due: lint, format

refactor: 초기 화면 레이아웃 컴포넌트 tsx로 변환
  src/advanced/components/cart-section/CartContainer.tsx
  src/advanced/components/header/Header.tsx
  src/advanced/components/manual/Manual.tsx
  src/advanced/components/order-summary/OrderSummary.tsx
Due: none

refactor : advanced react로 마이그레이션 진행중
  index.advanced.html
  index.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/components/CartDisplay.js
  src/advanced/components/CartPrices.js
  src/advanced/components/EventHandlers.js
  src/advanced/components/Header.js
  src/advanced/components/Header.tsx
  src/advanced/components/OrderSummary.js
  src/advanced/components/ProductSelect.js
  src/advanced/components/TotalAndDiscount.js
  src/advanced/constant/index.ts
  src/advanced/main.advanced.js
  src/advanced/main.tsx
  src/advanced/types/index.ts
  src/advanced/utils/pureFunctions.js
  src/basic/components/CartComponent.js
  src/basic/components/EventHandlers.js
  src/basic/components/HelpModal.js
  src/basic/handlers/eventHandlers.js
  src/basic/handlers/helpModalHandlers.js
  src/basic/handlers/reactHandlers.js
  src/basic/hooks/useAppState.js
  src/basic/main.basic.js
  src/basic/state/stateManager.js
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: lint, format

chore: 배포를 위한 설정 추가
  .github/workflows/deploy.yml
  .gitignore
  .nvmrc
  apps/advanced/vite.config.ts
  package.json
Due: format

chore: change .nvmrc v22
  .nvmrc
Due: none

refactor: 레이아웃 컴포넌트 App에 구성
  src/advanced/App.tsx
Due: none

chore: github action ci advancned job 추가
  .github/workflows/ci.yml
Due: format

refactor: product selector & cart list 컴포넌트 tsx로 변환 및 추가 분리
  src/advanced/components/cart-section/CartContainer.tsx
  src/advanced/components/cart-section/cart-list/CartItem.tsx
  src/advanced/components/cart-section/cart-list/CartList.tsx
  src/advanced/components/cart-section/product-select/AddButton.tsx
  src/advanced/components/cart-section/product-select/ProductOption.tsx
  src/advanced/components/cart-section/product-select/ProductSelector.tsx
  src/advanced/components/cart-section/product-select/StockStatus.tsx
Due: none

refactor: 선언형으로 변경 및 개행 추가
  src/basic/main.basic.js
Due: lint, format

Chore: 리팩토링을 위한 초기 파일 구조 설정
  index.basic.html
  src/basic/app.js
  src/basic/legacy.js
Due: lint, format

feat: 상품 할인 정보 통합 및 이벤트 리스너 개선
  src/basic/components/CartItem.js
  src/basic/components/OrderSummary.js
  src/basic/components/ProductSelector.js
  src/basic/events/listeners/cartListeners.js
  src/basic/events/listeners/productListeners.js
  src/basic/main.basic.js
  src/basic/services/discountService.js
  src/basic/services/timerService.js
Due: lint, format

Refactor: 매직 넘버 및 문자열을 상수로 분리
  src/basic/constants.js
  src/basic/legacy.js
Due: lint, format

Refactor: 전역 상태를 state 객체로 중앙화
  src/basic/legacy.js
  src/basic/state.js
Due: lint, format

Refactor: DOM 생성 로직을 view 모듈로 분리
  src/basic/legacy.js
  src/basic/view.js
Due: lint, format

Refactor: 이벤트 리스너 로직을 events 모듈로 분리
  src/basic/events.js
  src/basic/legacy.js
Due: lint, format

Refactor: 비동기 타이머 로직을 services 모듈로 분리
  src/basic/legacy.js
  src/basic/services.js
Due: lint, format

CI : advanced test CI
  .github/workflows/ci.yml
  package.json
Due: format

Style: Prettier 설정 및 전체 파일 포맷팅 적용
  .prettierrc.json
  project-history/01_initial_refactoring.md
  src/advanced/__tests__/advanced.test.js
  src/basic/__tests__/basic.test.js
  src/basic/app.js
  src/basic/events.js
  src/basic/legacy.js
  src/basic/services.js
  src/basic/state.js
  src/basic/view.js
  src/main.original.js
  vite.config.js
Due: lint, format

refactor: order summary section 컴포넌트 tsx 변환 및 추가 분리
  src/advanced/components/order-summary/OrderSummary.tsx
  src/advanced/components/order-summary/order-info/CartTotal.tsx
  src/advanced/components/order-summary/order-info/DiscountInfo.tsx
  src/advanced/components/order-summary/order-info/LoyaltyPoints.tsx
  src/advanced/components/order-summary/order-info/TuesdaySpecial.tsx
  src/advanced/components/order-summary/summary-details/SummaryDetails.tsx
Due: none

feat: 새로운 App 컴포넌트 추가 및 main.basic.js에서 UI 렌더링 통합
  src/basic/App.js
  src/basic/main.basic.js
Due: lint, format

feat: gh-pages 패키지 추가 및 Vite 설정 파일 생성 - 배포를 위한 빌드 및 설정 구성
  apps/advanced/package.json
  apps/advanced/vite.config.ts
  pnpm-lock.yaml
Due: format

refactor: 장바구니 point 적립 서비스 분리
  src/basic/main.basic.js
  src/basic/services/point/PointService.js
Due: lint, format

refactor: 기존 store 이용해서 reducer 생성
  src/advanced/reducer.ts
Due: none

Refactor(basic): 계산 및 UI 업데이트 로직을 각 모듈로 분리
  src/basic/calculator.js
  src/basic/legacy.js
  src/basic/view.js
Due: lint, format

Refactor(basic): app.js로 로직 통합 및 전역 변수 제거
  src/basic/app.js
  src/basic/legacy.js
Due: lint, format

Fix(basic): 장바구니 추가 기능의 참조 에러 수정
  src/basic/app.js
  src/basic/events.js
Due: lint, format

Fix(basic): 장바구니 렌더링 및 상태 기반 계산 로직 수정
  src/basic/app.js
  src/basic/events.js
  src/basic/view.js
Due: lint, format

Refactor(basic): app.js의 UI 관련 함수를 view.js로 이동
  src/basic/app.js
  src/basic/view.js
Due: lint, format

feat: 매뉴얼 관련 컴포넌트를 레이아웃으로 관리
  src/advanced/src/App.tsx
  src/advanced/src/components/Button/ManualButton.tsx
  src/advanced/src/layouts/ManualLayout.tsx
Due: none

리액트, 타입스크립트 설치
  package.json
  pnpm-lock.yaml
  src/advanced/main.advanced.js
  src/advanced/main.advanced.tsx
  tsconfig.json
Due: lint, format
