Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

fix: 중복 export 제거
  src/basic/store.js
Due: lint, format

refactor: 변수 및 함수 네이밍 개선
  src/basic/main.basic.js
Due: lint, format

refactor: Manual 관련 ui 분리
  src/basic/components/manual.js
  src/basic/main.basic.js
Due: lint, format

feat: GitHub Pages 배포 설정 완료
  public/404.html
  public/index.html
  vite.config.js
Due: format

Fix: import 누락 이슈 대응.
  src/basic/utils/cart.js
Due: lint, format

fix: config
  package.json
  vite.config.js
  vite.config.ts
Due: none

refactor: 변수명 명확하게 개선
  src/basic/features/product/constants.js
  src/basic/features/product/service.js
  src/basic/main.basic.js
Due: lint, format

refactor: 불필요한 getCartSummary 함수 제거
  src/advanced/components/cart-section/product-select/StockStatus.tsx
  src/advanced/components/header/Header.tsx
  src/advanced/components/order-summary/order-info/CartTotal.tsx
  src/advanced/components/order-summary/order-info/DiscountInfo.tsx
  src/advanced/components/order-summary/order-info/TuesdaySpecial.tsx
  src/advanced/components/order-summary/summary-details/ItemDetails.tsx
  src/advanced/components/order-summary/summary-details/PriceDetails.tsx
  src/advanced/components/order-summary/summary-details/SummaryDetails.tsx
  src/advanced/reducer.ts
  src/advanced/types/index.ts
Due: none

refactor: 상수 추가 적용
  src/advanced/data/date.data.ts
  src/advanced/data/point.data.ts
  src/advanced/data/quantity.data.ts
  src/advanced/hooks/useDiscount.ts
  src/advanced/utils/point.util.ts
  src/basic/data/discount.data.js
  src/basic/data/point.data.js
  src/basic/data/quantity.data.js
  src/basic/main.basic.js
Due: lint, format

fix: 안쓰는 js파일 삭제
  src/advanced/App.tsx
  src/advanced/components/EventHandlers.js
  src/advanced/components/HelpModal.js
  src/advanced/components/HelpModal.tsx
  src/advanced/components/ProductSelect.js
  src/advanced/main.advanced.js
Due: lint, format

chore: 배포 설정
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

feat(advanced): 카트 수량 업데이트 로직 작성
  src/advanced/hooks/useCartWithProducts.ts
  src/advanced/store/ProductContext.tsx
Due: none

refactor: lint 및 prettier 적용 및 vite path를 통한 path 정리
  .github/pull_request_template.md
  .husky/pre-commit
  README.md
  docs/01-PRD.md
  docs/02-dirty-code-analysis.md
  docs/03-cart-tailwind-evaluation.md
  docs/04-practical-clean-code-guide.md
  docs/05-clean-code-theory-lesson.md
  docs/README.md
  index.advanced.html
  index.basic.html
  index.html
  jsconfig.json
  package-lock.json
  package.json
  src/basic/features/cart/components/CartItem.js
  src/basic/features/cart/components/CartTotal.js
  src/basic/features/cart/events/cartEventHandler.js
  src/basic/features/cart/services/cartService.js
  src/basic/features/cart/services/cartUIService.js
  src/basic/features/cart/services/promotionPriceService.js
  src/basic/features/cart/services/promotionService.js
  src/basic/features/order/components/OrderSummaryDetails.js
  src/basic/features/order/services/orderService.js
  src/basic/features/point/services/PointsCalculator.js
  src/basic/features/point/services/pointService.js
  src/basic/features/product/components/ProductSelector.js
  src/basic/features/product/services/productService.js
  src/basic/main.basic.js
  src/basic/shared/components/App.js
  src/basic/shared/components/Header.js
  src/basic/shared/components/HelpModal.js
  src/main.original.js
  vite.config.js
Due: lint, format

refactor: elementIds로 파일명 수정
  src/basic/shared/constants/elementIds.js
Due: lint, format

refactor: generateProductOptions 함수 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

refactor: addToCartButton 이벤트 핸들러의 순수 함수 분리
  src/basic/main.basic.js
Due: lint, format

refactor: 카멜 케이스로 파일명 수정
  src/basic/features/cart/services/cartCalculator.js
  src/basic/features/product/store/ProductStore.js
  src/basic/features/product/store/productStore.js
Due: lint, format

refactor: 기본 포인트 계산 로직 수정
  src/basic/features/point/utils/pointsUtils.js
Due: lint, format

refactor: 장바구니 이벤트 핸들러 및 재고 관리 로직 개선
  src/basic/features/cart/events/cartEventHandler.js
Due: lint, format

refactor: cartDisplayElement 이벤트 핸들러 순수 함수 분리
  src/basic/main.basic.js
Due: lint, format

refactor: ProductSelector 옵션 생성 로직 개선
  src/basic/features/product/components/ProductSelector.js
Due: lint, format

refactor: getProductState() 사용으로 코드 일관성 향상
  src/basic/features/product/services/productService.js
Due: lint, format

feat: 장바구니 상태 관리 스토어 추가
  src/basic/features/cart/store/cartStore.js
Due: lint, format

feat: 애플리케이션 초기화 및 DOM 구조 개선
  src/basic/main.basic.js
Due: lint, format

feat: 리팩터링 문서 추가 및 단계별 개선 사항 정리
  docs/06-refactoring-document.md
Due: format

feat: 지연된 인터벌 이벤트 훅 추가
  src/advanced/utils/hooks.js
Due: lint, format

refactor: 이벤트 핸들러 분리 및 전역 변수 리팩토링
  src/basic/main.basic.js
Due: lint, format

feat(advanced): 상품 카트 영역 이벤트 핸들러 연결
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/hooks/useCartWithProducts.ts
  src/advanced/store/CartContext.tsx
Due: none

refactor: 전역 변수를 useDOMManager 객체로 캡슐화
  src/basic/main.basic.js
Due: lint, format

refactor: 레이아웃 분리 App.tsx 간소화
  src/advanced/App.tsx
  src/advanced/components/MainLayout.tsx
  src/advanced/components/ShoppingPage.tsx
Due: none

chore: product 초기 데이터 함수 분리
  src/basic/data.js
  src/basic/main.basic.js
Due: lint, format

refactor: 불필요한 로직 제거 및 제품 찾기,장바구니 총량 유틸 적용
  src/basic/components/Header.js
  src/basic/data/discount.data.js
  src/basic/data/product.data.js
  src/basic/main.basic.js
  src/basic/store/cartStore.js
  src/basic/utils/cart.util.js
Due: lint, format

feat: 심화과제 스타트!!!!
  .gitignore
  src/advanced/eslint.config.js
  src/advanced/index.html
  src/advanced/package.json
  src/advanced/pnpm-lock.yaml
  src/advanced/src/App.tsx
  src/advanced/src/index.css
  src/advanced/src/main.tsx
  src/advanced/src/vite-env.d.ts
  src/advanced/tsconfig.app.json
  src/advanced/tsconfig.json
  src/advanced/tsconfig.node.json
  src/advanced/vite.config.ts
Due: lint, format

refactor: pointsCalculator 파일 대소문자 수정
  src/basic/features/point/services/pointsCalculator.js
Due: lint, format

refactor: 장바구니 수량 관리 로직 개선
  src/basic/features/cart/events/cartEventHandler.js
Due: lint, format

chore: React 및 TypeScript 관련 의존성 추가
  package.json
  pnpm-lock.yaml
Due: none

chore: utils 파일 분리
  src/basic/main.basic.js
  src/basic/utils.js
Due: lint, format

feat(advanced): 헤더에 총 장바구니에 담긴 수량 표시
  src/advanced/components/layout/Header.tsx
  src/advanced/store/CartContext.tsx
Due: none

chore: 리액트+타입스크립트 프로젝트 초기 설정
  index.advanced.html
  src/App.tsx
  src/advanced/App.tsx
  src/advanced/main.advanced.js
  src/advanced/main.advanced.tsx
  src/main.tsx
  tsconfig.json
  tsconfig.node.json
Due: lint, format

feat: useOrderSummary 로직 추가
  src/advanced/App.jsx
  src/advanced/components/Header.jsx
  src/advanced/components/SummaryDetails.jsx
  src/advanced/services/order.js
  src/advanced/utils/math.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
