Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

feat: 비즈니스 로직을 서비스 함수로 분리
  apps/advanced/src/features/product-selection/services/index.ts
  apps/advanced/src/features/product-selection/services/productService.ts
  apps/advanced/src/features/product-selection/services/stockService.ts
  apps/advanced/src/features/shopping-cart/services/cartService.ts
  apps/advanced/src/features/shopping-cart/services/index.ts
Due: none

style: 불필요한 주석 제거 및 코드 스타일 정리
  apps/advanced/__tests__/advanced.test.tsx
  apps/advanced/package.json
  apps/advanced/src/App.tsx
  apps/advanced/src/main.tsx
  pnpm-lock.yaml
Due: format

fix: 빌드에러 해결
  apps/advanced/src/features/app-state/hooks/useAppState.ts
  apps/advanced/src/features/order-summary/components/OrderItem.tsx
Due: none

fix: 개발 중 임시 코드 제거
  apps/advanced/src/main.tsx
Due: none

refactor: 함수 정리
  src/basic/main.basic.js
Due: lint, format

docs: 주석 추가
  src/basic/main.basic.js
Due: lint, format

refactor: getStockInfoMessage 함수 분리
  src/advanced/App.tsx
  src/advanced/services/stock.ts
Due: none

feat: 기본적인 모듈 분리 리팩토링 완료
  src/basic/businessLogic.js
  src/basic/constants.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
  src/basic/utils.js
Due: lint, format

chore: prettier 설정 수정
  eslint.config.js
  src/advanced/__tests__/advanced.test.js
  src/advanced/main.tsx
  src/basic/__tests__/basic.test.js
Due: lint, format

refactor(businessLogic): 코드 품질 개선 및 중복 제거
  src/basic/businessLogic.js
Due: lint, format

refactor: getters 파일 분리
  src/advanced/components/cart-section/product-select/StockStatus.tsx
  src/advanced/components/header/Header.tsx
  src/advanced/components/order-summary/order-info/CartTotal.tsx
  src/advanced/components/order-summary/order-info/DiscountInfo.tsx
  src/advanced/components/order-summary/order-info/TuesdaySpecial.tsx
  src/advanced/components/order-summary/summary-details/ItemDetails.tsx
  src/advanced/components/order-summary/summary-details/PriceDetails.tsx
  src/advanced/components/order-summary/summary-details/SummaryDetails.tsx
  src/advanced/contexts/CartContext.tsx
  src/advanced/contexts/getters.ts
  src/advanced/contexts/reducer.ts
  src/advanced/hooks/useNotifications.ts
  src/advanced/reducer.ts
Due: none

refactor: 코드 품질 개선 - 함수 분리 및 에러 처리 강화
  src/basic/__tests__/basic.test.js
  src/basic/businessLogic.js
  src/basic/constants.js
  src/basic/eventHandlers.js
  src/basic/uiUpdates.js
Due: lint, format

refactor: selected product id 상태 지역화
  src/advanced/components/cart-section/CartContainer.tsx
  src/advanced/components/cart-section/product-select/AddToCartButton.tsx
  src/advanced/components/cart-section/product-select/ProductSelection.tsx
  src/advanced/components/cart-section/product-select/ProductSelector.tsx
  src/advanced/contexts/getters.ts
  src/advanced/contexts/reducer.ts
  src/advanced/types/index.ts
Due: none

refactor: getters 내 매직 넘버 분리 & ui 메세지 생성 코드 분리
  src/advanced/components/cart-section/product-select/StockStatus.tsx
  src/advanced/constant/index.ts
  src/advanced/contexts/getters.ts
Due: none

refactor: isTuesdayDay 함수를 utils.js로 이동하여 모듈 구조 개선
  src/basic/__tests__/basic.test.js
  src/basic/businessLogic.js
  src/basic/uiUpdates.js
  src/basic/utils.js
Due: lint, format

chore: lint 옵션 수정
  eslint.config.js
Due: none

chore: typescript, react 설정
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/main.advanced.js
  src/advanced/main.advanced.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.js
Due: lint, format

fix: 타이머 지연시간 및 볼드 폰트 처리 수정
  src/basic/__tests__/basic.test.js
  src/basic/businessLogic.js
  src/basic/constants.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
  src/basic/utils.js
Due: lint, format

feat: integrate PointService and enhance order processing
  src/basic/events/listeners/orderListeners.js
  src/basic/main.basic.js
  src/basic/services/cartService.js
  src/basic/services/discountService.js
  src/basic/services/orderService.js
  src/basic/services/pointService.js
  src/basic/services/productService.js
  src/basic/services/timerService.js
  src/basic/utils/discountUtils.js
  src/basic/utils/domUtils.js
  src/basic/utils/productDisplay.js
  src/basic/utils/stockUtils.js
Due: lint, format

refactor: 불필요한 함수 제거
  src/basic/events/listeners/productListeners.js
  src/basic/services/discountService.js
  src/basic/services/pointService.js
  src/basic/utils/domUtils.js
  src/basic/utils/productUtils.js
  src/basic/utils/stockUtils.js
Due: lint, format

fix: 불필요한 query 로직 삭제
  src/basic/events/listeners/orderListeners.js
  src/basic/events/listeners/productListeners.js
Due: lint, format

refactor: 서비스 초기화 로직 분리
  src/basic/main.basic.js
  src/basic/utils/productUtils.js
Due: lint, format

fix: 들여쓰기 eslint 수정
  src/basic/services/productService.js
Due: lint, format

refactor: 서비스 이름을 동적으로 return
  src/basic/core/serviceManager.js
Due: lint, format

fix: 주요 기능: 타이머 로직 최적화 및 이벤트 버블링 방지 타이머 개선: 중복 실행 방지, 원본과 동일한 주기 설정 이벤트 처리: stopPropagation으로 버블링 방지
  index.advanced.html
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/components/guide/GuideToggle.tsx
  src/advanced/components/guide/ShoppingGuide.tsx
  src/advanced/contexts/CartContext.tsx
Due: none

refactor: 할인율 포인트 계산 함수 정리
  src/advanced/contexts/getters.ts
  src/advanced/types/index.ts
Due: none

chore: 경로 설정
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.json
  vite.config.js
  vite.config.ts
Due: none

feat: 헤더 컴포넌트 추가
  src/advanced/components/Header.tsx
Due: none

feat: App 컴포넌트 레이아웃 구현
  src/advanced/App.tsx
Due: none

chore: 경로 설정 js 추가
  tsconfig.app.json
  vite.config.ts
Due: none

refactor: 중복 코드 제거 및 코드 품질 개선
  src/basic/eventHandlers.js
  src/basic/utils.js
Due: lint, format

feat: 상품셀렉터 추가
  src/advanced/App.tsx
  src/advanced/components/ProductSelector.tsx
Due: none

feat: 전역 변수 점진적 정리,
  src/basic/__tests__/basic.test.js
  src/basic/businessLogic.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

feat: DOM 요소 점진적 정리 완료
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

feat: 비즈니스 로직 점진적 개선 완료
  src/basic/businessLogic.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

fix: 재고 관리 버그 수정 및 린트 에러 해결
  src/basic/businessLogic.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

refactor: discount 텍스트 배열 리턴값 이름 변경
  src/advanced/components/order-summary/summary-details/PriceDetails.tsx
  src/advanced/contexts/getters.ts
Due: none

refactor: 함수 분해 및 DOM 요소 접근 추상화
  src/basic/__tests__/basic.test.js
  src/basic/domElements.js
  src/basic/eventHandlers.js
  src/basic/uiUpdates.js
Due: lint, format

refactor: 불필요한 let 제거
  src/advanced/components/ProductSelector.tsx
Due: none
