Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

fix: 재고정보 개행 버그 수정
  src/basic/features/product/render.js
Due: lint, format

feat: 전역 상태 관리 추가 - Zustand를 사용한 장바구니, 상품, 포인트, UI 상태 관리 스토어 구현
  src/advanced/package.json
  src/advanced/pnpm-lock.yaml
  src/advanced/src/store/cartStore.ts
  src/advanced/src/store/index.ts
  src/advanced/src/store/pointsStore.ts
  src/advanced/src/store/productStore.ts
  src/advanced/src/store/uiStore.ts
Due: format

feat: 기본 컴포넌트들 생성 - Header, GridContainer, LeftColumn, SelectorContainer, CartDisplay, CartItem, AddToCartButton, ProductSelector, ProductOption, StockInfo 컴포넌트를 React + TypeScript로 변환
  src/advanced/src/components/cart/AddToCartButton.tsx
  src/advanced/src/components/cart/CartDisplay.tsx
  src/advanced/src/components/cart/CartItem.tsx
  src/advanced/src/components/layout/GridContainer.tsx
  src/advanced/src/components/layout/Header.tsx
  src/advanced/src/components/layout/LeftColumn.tsx
  src/advanced/src/components/layout/SelectorContainer.tsx
  src/advanced/src/components/product/ProductOption.tsx
  src/advanced/src/components/product/ProductSelector.tsx
  src/advanced/src/components/product/StockInfo.tsx
  src/advanced/src/store/productStore.ts
  src/advanced/src/store/uiStore.ts
Due: none

refactor: 장바구니 상품 렌더링 함수 적용
  src/basic/main.basic.js
Due: lint, format

refactor: remove any types and improve type safety
  src/advanced/app/providers/PromotionProvider.tsx
  src/advanced/widgets/ProductSelector/ProductSelector.tsx
Due: none

feat: 요약 및 매뉴얼 컴포넌트들 생성 - RightColumn, LoyaltyPointsTag, ManualToggle, ManualOverlay, ManualColumn 컴포넌트를 React + TypeScript로 변환
  src/advanced/src/components/manual/ManualColumn.tsx
  src/advanced/src/components/manual/ManualOverlay.tsx
  src/advanced/src/components/manual/ManualToggle.tsx
  src/advanced/src/components/summary/LoyaltyPointsTag.tsx
  src/advanced/src/components/summary/RightColumn.tsx
Due: none

remove: 미사용 intial코드 제거
  src/basic/features/cart/services/promotionService.js
Due: lint, format

feat: 계산 서비스들 생성 - CartCalculationService, PointsCalculationService를 TypeScript로 변환
  src/advanced/src/services/CartCalculationService.ts
  src/advanced/src/services/PointsCalculationService.ts
Due: none

feat: 메인 App 컴포넌트 업데이트 - 완전한 쇼핑 카트 애플리케이션으로 변환
  src/advanced/src/App.tsx
Due: none

fix: TypeScript 오류 수정 - 빌드 오류 해결 및 코드 정리
  src/advanced/src/components/cart/CartDisplay.tsx
  src/advanced/src/components/product/ProductOption.tsx
  src/advanced/src/store/cartStore.ts
  src/advanced/src/store/pointsStore.ts
  src/advanced/src/store/productStore.ts
  src/advanced/src/store/uiStore.ts
  src/advanced/src/utils/discount.ts
  src/advanced/src/utils/points.ts
  src/advanced/src/utils/product.ts
Due: none

deploy:배포 설정 추가
  vite.config.js
Due: none

fix: 메인 페이지에서 main.basic.js 사용하도록 수정
  index.html
Due: none

chore: 불필요한 주석 제거
  src/advanced/App.tsx
Due: none

refactor: 변수명 수정
  src/basic/main.basic.js
Due: lint, format

feat(advanced): 매뉴얼쪽 리액트에 이식
  src/advanced/components/guide/GuideToggle.tsx
  src/advanced/components/guide/ShoppingGuide.tsx
Due: none

style: 코드 스타일 통일 및 포맷팅 개선 - ESLint 규칙에 따른 코드 스타일 정리
  src/advanced/src/components/cart/CartDisplay.tsx
  src/advanced/src/components/cart/CartItem.tsx
Due: none

feat: 번개세일/추천세일 적용
  src/advanced/App.tsx
  src/advanced/hooks/useDiscountEvent.ts
Due: none

feat: React TypeScript 애플리케이션 구조 추가
  src/App.css
  src/App.tsx
  src/advanced/hooks/useCart.ts
  src/main.tsx
  src/types/index.ts
Due: none

refactor: 조건 검증 로직 유틸 함수로 분리
  src/advanced/components/cart/CartListItem.tsx
  src/basic/components/cart/CartItem.js
  src/basic/main.basic.js
  src/basic/utils/cart.util.js
  src/basic/utils/discount.util.js
  src/basic/utils/stock.util.js
Due: lint, format

fix(advanced): 세일 타이머 너무 자주 도는 현상 수정
  src/advanced/hooks/useDiscountEvent.ts
Due: none

fix: 린트 에러 수정 및 TypeScript 타입 에러 해결
  src/advanced/App.tsx
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.tsx
  src/advanced/constants.ts
  src/advanced/hooks/useCartManagement.ts
  src/advanced/hooks/useDiscountCalculation.ts
  src/advanced/hooks/useProductManagement.ts
  src/advanced/main.advanced.tsx
  src/advanced/utils.ts
Due: none

feat: 상품 선택 기능 구현
  docs/01-PRD.md
  src/App.tsx
  src/components/ProductSelector.tsx
  src/data/products.ts
  src/hooks/useProducts.ts
Due: format

refactor: 연관된 코드 그룹화
  src/basic/main.basic.js
Due: lint, format

feat: TimerService 비즈니스 로직과 UI 로직 분리
  src/basic/events/listeners/cartListeners.js
  src/basic/services/orderService.js
  src/basic/services/pointService.js
Due: lint, format

fix: TimerService 비즈니스 로직과 UI 로직 분리
  src/basic/constants/events.js
  src/basic/events/listeners/cartListeners.js
  src/basic/main.basic.js
  src/basic/services/timerService.js
Due: lint, format

refactor: ES6 문법 적용
  src/basic/main.basic.js
Due: lint, format

feat: 상품 선택 리스트에서 선택 상태 추가
  src/advanced/components/selector/ProductOption.jsx
  src/advanced/components/selector/ProductSelector.jsx
Due: none

refactor: 장바구니 관련 코드 구조 개선
  src/basic/App.js
  src/basic/features/cart/components/CartTotal.js
  src/basic/features/cart/events/cartEventHandler.js
  src/basic/features/cart/services/cartService.js
  src/basic/features/cart/utils/stockUtils.js
  src/basic/features/product/services/productService.js
  src/basic/main.basic.js
Due: lint, format

refactor: 불필요한 인자 제거
  src/basic/components/selector/AddButton.js
  src/basic/main.basic.js
Due: lint, format

feat: 404 페이지 및 상수 파일 추가
  src/advanced/404.html
  src/basic/constants/index.js
Due: lint, format

refactor: 상수 파일을 advanced로 이동 및 ts로 전환
  src/advanced/shared/constants/business.ts
  src/advanced/shared/constants/elementIds.ts
Due: none

test: GitHub Actions 배포 테스트
  README.md
Due: none

refactor: ui 분리
  src/basic/main.basic.js
  src/basic/templates/index.js
Due: lint, format

remove: App.tsx 및 main.tsx 파일 삭제, advanced/App.tsx 및 advanced/main.advanced.tsx 파일 추가
  src/App.tsx
  src/advanced/App.tsx
  src/advanced/main.advanced.tsx
  src/main.tsx
Due: none

refactor: 장바구니 서비스에서 미사용 코드 제거 및 재고 검증 함수 개선
  src/basic/features/cart/services/cartService.js
  src/basic/features/cart/utils/stockUtils.js
Due: lint, format

fix: index.html 메인 페이지 설정 수정
  README.md
Due: none

fix: public/index.html 파일 수정 및 배포 설정 개선
  public/index.html
Due: format

chore: 배포 환경 설정
  .github/workflows/deploy.yml
  src/advanced/vite.config.ts
Due: format

refactor: 장바구니 서비스에서 할인 가능한 상품 강조 기능 추가
  src/basic/features/cart/services/cartService.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
