Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: 🚨 ESLint 검사 실패! 'pnpm lint'로 수정 후 다시 커밋하세요.

format:
  run: pnpm format:check
  fail_text: 🎨 코드 포맷팅이 필요합니다! 'pnpm format'로 수정 후 다시 커밋하세요.

refactor: getPriceText 함수를 분리
  src/advanced/components/ProductSelector.tsx
Due: lint, format

refactor: Manual 컴포넌트를 조금더 세분화
  src/advanced/components/Manual.tsx
Due: lint, format

feat: DOM 조작 안전성 및 추상화 완료
  src/basic/domElements.js
  src/basic/eventHandlers.js
  src/basic/uiUpdates.js
Due: lint, format

refactor: ProductService 관심사 분리 및 중복 코드 제거
  src/basic/services/productService.js
Due: lint, format

refactor: calcTotalDiscount를 함수형 프로그래밍으로 개선
  src/basic/utils/discountUtils.js
Due: lint, format

refactor: ToastContainer 및 CartContext의 코드 정리 및 주석 추가
  src/advanced/components/ToastContainer.tsx
  src/advanced/context/CartContext.tsx
Due: lint, format

refactor: useSpecialEvents 코드 개선 및 중복 제거
  src/advanced/hooks/useSpecialEvents.ts
Due: lint, format

refactor: useSpecialEvents에서 토스트 생성 로직 개선
  src/advanced/hooks/useSpecialEvents.ts
Due: lint, format

refactor: DiscountService 코드 구조 개선 및 헬퍼 함수 추가
  src/basic/services/discountService.js
Due: lint, format

refactor: OrderService에 주문 계산 헬퍼 추가
  src/basic/services/orderService.js
Due: lint, format

fix: 모듈 초기화 순서 및 오더 서머리 표시 문제 해결
  src/basic/domElements.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
Due: lint, format

refactor: 장바구니 서비스에 헬퍼 함수 추가 및 코드 구조 개선
  src/basic/services/cartService.js
Due: lint, format

refactor: basic 폴더 코드 정리 및 컨벤션 적용
  src/basic/businessLogic.js
  src/basic/constants.js
  src/basic/domElements.js
  src/basic/eventHandlers.js
  src/basic/main.basic.js
  src/basic/uiUpdates.js
  src/basic/utils.js
Due: lint, format

feat: React 설치 및 배포 설정
  package.json
  pnpm-lock.yaml
  vite.config.advanced.js
  vite.config.js
Due: none

feat: tsconfig 추가
  tsconfig.json
Due: none

docs: React 마이그레이션 계획서 작성
  docs/07-react-migration-plan.md
Due: format

test: React 테스트 파일 마이그레이션 - 0단계 완료
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/advanced.test.jsx
Due: lint, format

refactor: 도메인별 상수/타입 분리 - 1단계 완료
  src/advanced/components/.gitkeep
  src/advanced/domains/cart/types.ts
  src/advanced/domains/discounts/constants.ts
  src/advanced/domains/discounts/types.ts
  src/advanced/domains/points/constants.ts
  src/advanced/domains/points/types.ts
  src/advanced/domains/products/constants.ts
  src/advanced/domains/sales/constants.ts
  src/advanced/domains/stock/constants.ts
  src/advanced/main.advanced.tsx
  src/advanced/types/index.ts
  src/advanced/utils/dateUtils.ts
Due: lint, format

docs: React 마이그레이션 계획서 진행상황 업데이트
  docs/07-react-migration-plan.md
Due: format

feat: tsconfig jsx 옵션 추가
  tsconfig.json
Due: none

feat: Products 도메인 React 훅 변환 - 2단계 완료
  src/advanced/domains/products/ProductSelect.tsx
  src/advanced/domains/products/useProductData.ts
Due: lint, format

refactor: ICartItem 타입 최적화 - IProduct 상속으로 중복 제거
  src/advanced/domains/cart/types.ts
  src/advanced/types/index.ts
Due: lint, format

feat: Cart 도메인 React 훅 변환 - 3단계 완료
  src/advanced/domains/cart/CartDisplay.tsx
  src/advanced/domains/cart/OrderSummary.tsx
  src/advanced/domains/cart/useCartManager.ts
Due: lint, format

feat: Points/Stock/Discounts 도메인 React 훅 변환 - 4단계 완료
  src/advanced/domains/discounts/DiscountInfo.tsx
  src/advanced/domains/discounts/useDiscountManager.ts
  src/advanced/domains/points/PointsDisplay.tsx
  src/advanced/domains/points/usePointsManager.ts
  src/advanced/domains/stock/StockWarning.tsx
  src/advanced/domains/stock/useStockManager.ts
Due: lint, format

feat: 특별 세일 타이머 React화 - 5단계 완료
  src/advanced/domains/sales/SaleNotification.tsx
  src/advanced/domains/sales/useSpecialSales.ts
Due: lint, format

feat: IProduct q -> quantity 수정 반영
  src/advanced/domains/products/ProductSelect.tsx
  src/advanced/domains/products/useProductData.ts
Due: lint, format

docs: React 마이그레이션 계획서 진행상황 업데이트 - 2~5단계 완료
  docs/07-react-migration-plan.md
Due: format

feat: product selector 컴포넌트 추가
  src/advanced/App.tsx
  src/advanced/components/ProductSelector.tsx
  src/advanced/feature/product/constant.ts
  src/advanced/feature/product/type.ts
Due: lint, format

feat: 재고상태 ui 추가
  src/advanced/App.tsx
Due: lint, format

feat: 메인 앱 컴포넌트 구현 - 6단계 완료
  src/advanced/__tests__/advanced.test.jsx
  src/advanced/components/App.tsx
  src/advanced/main.advanced.tsx
Due: lint, format

[advanced] feat: 기본 레이아웃 컴포넌트 생성
  eslint.config.js
  src/advanced/App.tsx
  src/advanced/components/GridContainer.tsx
  src/advanced/components/Header.tsx
  src/advanced/components/LeftColumn.tsx
  src/advanced/components/RightColumn.tsx
  tsconfig.json
Due: lint, format

docs: React 마이그레이션 최종 완료 - 100% 완성
  docs/07-react-migration-plan.md
Due: format

fix: 배포 경로 수정
  index.advanced.html
  vite.config.advanced.js
Due: none

feat: fisrt react migration
  index.advanced.html
  package-lock.json
  package.json
  src/advanced/App.tsx
  src/advanced/__tests__/advanced.test.ts
  src/advanced/components/CartItem.ts
  src/advanced/components/CartItem.tsx
  src/advanced/components/CartItems.tsx
  src/advanced/components/Header.ts
  src/advanced/components/Header.tsx
  src/advanced/components/HelpModal.ts
  src/advanced/components/HelpModal.tsx
  src/advanced/components/LeftColumn.ts
  src/advanced/components/LeftColumn.tsx
  src/advanced/components/OrderSummary.ts
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductContainer.ts
  src/advanced/components/ProductContainer.tsx
  src/advanced/hooks/useCartState.ts
  src/advanced/index.tsx
  src/advanced/main.advanced.ts
  src/advanced/providers/ShoppingCartProvider.tsx
Due: lint, format

feat: remove dom relative code in service files
  src/advanced/controllers/saleTimers.ts
  src/advanced/services/cart.ts
  src/advanced/services/discount.ts
  src/advanced/services/orderSummary.ts
  src/advanced/services/points.ts
  src/advanced/services/product.ts
Due: lint, format

feat: remove command
  src/advanced/hooks/useCartState.ts
Due: lint, format

feat: remove code for unuse element for react
  src/advanced/event/eventHandlers.ts
  src/advanced/store/state.ts
  src/advanced/types/index.ts
  src/advanced/utils/dom.ts
Due: lint, format

fix: to be more component-based for react
  src/advanced/App.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductContainer.tsx
Due: lint, format

[advanced] feat: option 생성 함수 작성
  eslint.config.js
  src/advanced/components/CartContainer.tsx
  src/advanced/components/LeftColumn.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/OrderSummaryDetails.tsx
  src/advanced/components/ProductSelector.tsx
  src/advanced/components/RightColumn.tsx
  src/advanced/constants/constants.ts
Due: lint, format

refactor: remove function and file
  index.html
  src/advanced/__tests__/advanced.test.ts
  src/advanced/components/OrderSummary.tsx
  src/advanced/event/eventHandlers.ts
  src/advanced/services/orderSummary.ts
  src/advanced/services/product.ts
  src/advanced/store/state.ts
  src/advanced/utils/dom.ts
Due: lint, format

Path conditions:
  lint: any of: **/*.{js,ts,tsx}
  format: any of: **/*.{js,ts,tsx,html,json,yaml,yml,md}
