Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

Chore: test:ui script error 대응.
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/basic/__tests__/basic.test.js
  tsconfig.json
Due: lint, format

refactor: 컴포넌트 패턴 완전 적용 및 에러 처리 구현
  src/basic/main.basic.js
Due: lint, format

refactor: pnpm workspace 모노레포 도입, original app 구성
  .prettierignore
  apps/original/__test__/basic.test.js
  apps/original/index.html
  apps/original/main.js
  apps/original/package.json
  apps/original/setupTests.js
  apps/original/vite.config.js
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, format

chore: 변수명 변경
  src/basic/main.basic.js
Due: lint, format

Chore: test:ui script error 대응.
  package.json
Due: none

refactor: 헤더 컴포넌트 분리
  src/basic/main.basic.js
Due: lint, format

Chore: test:ui script error 대응.
  package.json
  pnpm-lock.yaml
Due: none

fix : 테스트 코드 수정
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/components/cart/ProductSelector.tsx
Due: none

feat : 할인로직 적용 및 테스트코드 수정
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/App.tsx
  src/advanced/src/utils/cartUtils.ts
  src/advanced/src/utils/pointsUtils.ts
Due: none

refactor: 개행 및 템플릿리터럴 적용
  src/basic/main.basic.js
Due: lint, format

fix : UI 원본하고 다른 부분 수정
  src/advanced/src/App.tsx
  src/advanced/src/components/cart/CartItem.tsx
  src/advanced/src/components/cart/CartSummary.tsx
Due: none

fix : 화면에 할인 중복 표시 제거
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/components/cart/CartSummary.tsx
Due: none

feat: useDiscount 분리 및 할인율,할인정보 렌더링
  src/advanced/components/cart/CartListItem.tsx
  src/advanced/components/order/BasicDiscount.tsx
  src/advanced/components/order/CartTotal.tsx
  src/advanced/components/order/DiscountBanner.tsx
  src/advanced/components/order/DiscountInfo.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/components/order/SpecialDiscount.tsx
  src/advanced/components/order/SummaryDetail.tsx
  src/advanced/hooks/useDiscount.ts
  src/advanced/hooks/useOrderSummary.ts
  src/advanced/types/cart.type.ts
  src/advanced/types/discount.type.ts
  src/advanced/utils/timer.util.ts
Due: none

refactor: product.quantity를 product.stock으로 변경하여 재고 관리 명확화
  src/basic/main.basic.js
Due: lint, format

refactor: handleStockInfoUpdate 컴포넌트화하여 중복 로직 제거
  src/basic/main.basic.js
Due: lint, format

feat : 추천할인, 번개할인, 테스트코드 작성 완료
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/constants/discount.constant.ts
  src/advanced/src/context/AppProvider.tsx
  src/advanced/src/services/alertService.ts
Due: none

feat: 할인 타이머 및 타이머 내부에서 제품 업데이트
  src/advanced/App.tsx
  src/advanced/api/getProducts.ts
  src/advanced/data/discount.data.ts
  src/advanced/data/time.data.ts
  src/advanced/hooks/useLightningSaleTimer.ts
  src/advanced/hooks/useSuggestionSaleTimer.ts
  src/advanced/hooks/useTimer.ts
  src/advanced/store/useProductStore.ts
  src/advanced/types/product.type.ts
  src/advanced/utils/discount.util.ts
  src/advanced/utils/product.util.ts
  src/advanced/utils/timer.util.ts
  src/basic/main.basic.js
Due: lint, format

fix : 초기 상품 선택 되어있도록 변경
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/components/cart/ProductSelector.tsx
  src/advanced/src/context/AppProvider.tsx
Due: none

refactor : 커서가 해준 리팩토링..
  src/advanced/src/context/AppProvider.tsx
  src/advanced/src/context/types.ts
  src/advanced/src/hooks/useCart.ts
  src/advanced/src/hooks/useProducts.ts
  src/advanced/src/main.tsx
  src/advanced/src/services/alertService.ts
  src/advanced/src/services/cartService.ts
  src/advanced/src/styles/index.css
  src/advanced/src/types/index.ts
  src/advanced/src/utils/cartUtils.ts
  src/advanced/src/utils/pointsUtils.ts
Due: none

fix : 재고 음수 문제 수정
  src/advanced/__tests__/advanced.test.tsx
  src/advanced/src/context/AppProvider.tsx
  src/advanced/src/hooks/useCart.ts
Due: none

Chore: eslint plugin 설치.
  package.json
  pnpm-lock.yaml
  src/basic/main.basic.js
  src/basic/utils/index.js
Due: lint, format

remove : 사용하지않는 함수 및 변수 제거
  src/advanced/src/components/cart/CartItem.tsx
  src/advanced/src/components/cart/CartSummary.tsx
  src/advanced/src/components/cart/ProductSelector.tsx
  src/advanced/src/context/AppContext.tsx
  src/advanced/src/context/AppProvider.tsx
  src/advanced/src/context/types.ts
  src/advanced/src/hooks/useProducts.ts
  src/advanced/src/services/cartService.ts
  src/advanced/src/utils/optionUtils.ts
  src/advanced/src/utils/stockUtils.ts
Due: none

deploy : 배포설정
  src/advanced/package.json
  src/advanced/pnpm-lock.yaml
  src/advanced/vite.config.ts
Due: format

refactor: DOM 조작과 비즈니스 로직 분리 - 상태 기반 데이터 접근
  src/basic/main.basic.js
Due: lint, format

refactor: advanced app 구성 및 설정 수정
  apps/advanced/__tests__/advanced.test.js
  apps/advanced/eslint.config.js
  apps/advanced/index.html
  apps/advanced/package.json
  apps/advanced/public/vite.svg
  apps/advanced/setupTests.ts
  apps/advanced/src/@types/vite-env.d.ts
  apps/advanced/src/App.tsx
  apps/advanced/src/main.tsx
  apps/advanced/tsconfig.json
  apps/advanced/vite.config.ts
  package.json
  pnpm-lock.yaml
  src/advanced/main.advanced.js
Due: lint, format

refactor: 장바구니 계산 로직을 CartCalculationService로 분리 및 화요일 할인 기능 분리
  src/basic/main.basic.js
  src/basic/services/CartCalculationService.js
  src/basic/utils/date.js
Due: lint, format

refactor : 순수함수 분리
  src/advanced/src/components/cart/CartItem.tsx
  src/advanced/src/hooks/useCart.ts
  src/advanced/src/services/alertService.ts
  src/advanced/src/types/index.ts
  src/advanced/src/types/services.ts
  src/advanced/src/utils/arrayUtils.ts
  src/advanced/src/utils/errorUtils.ts
  src/advanced/src/utils/formatUtils.ts
  src/advanced/src/utils/validationUtils.ts
Due: none

refactor: 포인트 계산 로직을 PointsCalculationService로 분리
  src/basic/main.basic.js
  src/basic/services/PointsCalculationService.js
Due: lint, format

fix: css 스타일 반환 함수 인자 수정
  src/basic/features/product/service.js
Due: lint, format

refactor: 가격 업데이트 로직을 PriceUpdateService로 분리
  src/basic/main.basic.js
  src/basic/services/PriceUpdateService.js
Due: lint, format

docs : 주석 변경
  src/advanced/src/context/AppProvider.tsx
  src/advanced/src/hooks/useAlertTimers.ts
  src/advanced/src/hooks/useCart.ts
  src/advanced/src/hooks/useProducts.ts
Due: none

refactor: 번개세일 기능 추가 및 서비스 클래스 분리
  src/basic/constants.js
  src/basic/main.basic.js
  src/basic/services/LightningSaleService.js
Due: lint, format

feat: 페이지에 전역 상태 연결
  src/advanced/src/App.tsx
  src/advanced/src/components/Button/ManualButton.tsx
  src/advanced/src/components/CartAcionSection.tsx
  src/advanced/src/components/CartContainer.tsx
  src/advanced/src/components/CartLayout.tsx
  src/advanced/src/components/CartProductItem.tsx
  src/advanced/src/components/CartProductSection.tsx
  src/advanced/src/components/CartSummary.tsx
  src/advanced/src/components/CartTotalBox.tsx
  src/advanced/src/components/DiscountRateBox.tsx
  src/advanced/src/components/OrderSummaryBox.tsx
  src/advanced/src/components/ProductOption.tsx
  src/advanced/src/components/ProductSelector.tsx
  src/advanced/src/constants.ts
  src/advanced/src/layouts/CartLayout.tsx
  src/advanced/src/layouts/Header.tsx
  src/advanced/src/lib/getCartQuantityDiscountRate.ts
  src/advanced/src/lib/getQuantityDiscount.ts
  src/advanced/src/providers/GlobalProvider.tsx
  src/advanced/src/providers/GlobalReducer.ts
  src/advanced/src/providers/GlobalStateProvider.tsx
  src/advanced/src/providers/useGlobal.ts
  src/advanced/src/services/calculateBonusPoint.ts
  src/advanced/src/services/calculateCartSummary.ts
Due: none

refactor: 추천 할인 기능 추가 및 서비스 클래스 분리
  src/basic/constants.js
  src/basic/main.basic.js
  src/basic/services/SuggestSaleService.js
Due: lint, format

fix : 재고 문제 해결
  src/advanced/src/utils/validationUtils.ts
Due: none

🚀 Init advanced react project
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/main.advanced.js
  src/advanced/main.advanced.tsx
  tsconfig.json
  tsconfig.node.json
  vite-env.d.ts
  vite.config.js
Due: lint, format

fix : 타이머알럿 중복적용되는 문제 해결
  src/advanced/src/hooks/useAlertTimers.ts
  src/advanced/src/services/alertService.ts
Due: none

feat: lefthook 설정 및 테스트 스크립트 개선
  index.advanced.html
  lefthook.yaml
  package.json
Due: none

refactor: 판매상태 반환함수 적용
  src/basic/main.basic.js
Due: lint, format
