Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "**/*.js"
      run: pnpm lint:check
      fail_text: "ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."
    format:
      glob: "**/*.{js,html,json,yaml,yml,md}"
      run: pnpm format:check
      fail_text: "ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”."

pre-push:
  parallel: true
  commands:
    test:
      run: pnpm test:basic:only
      fail_text: "ğŸ§ª í…ŒìŠ¤íŠ¸ ì‹¤íŒ¨! í…ŒìŠ¤íŠ¸ë¥¼ ìˆ˜ì •í•œ í›„ pushí•˜ì„¸ìš”."

refactor: renderOrderSummaryDetails 함수 3단계 분리 - 데이터 계산, 템플릿 생성, DOM 렌더링 책임 분리
  src/basic/main.basic.js
Due: lint, format

refactor: updateProductSelectOptions 함수 3단계 분리 - 상품 데이터 계산, 옵션 생성, DOM 렌더링 책임 분리
  src/basic/main.basic.js
Due: lint, format

refactor(advanced): 재사용가능한 부분 복사 및 ts로 변경
  src/advanced/usecase/point.ts
Due: none

refactor: ProductSelector 컴포넌트 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

refactor: updateCartItemPrices 함수 3단계 분리 - 가격 데이터 계산, DOM 렌더링 책임 분리
  src/basic/main.basic.js
Due: lint, format

refactor: updateTotalAndPointsDisplay 함수 3단계 분리 - 총액 포인트 데이터 계산, DOM 렌더링 책임 분리
  src/basic/main.basic.js
Due: lint, format

refactor: renderDiscountInfoPanel 함수 3단계 분리 - 할인 데이터 계산, 템플릿 생성, DOM 렌더링 책임 분리
  src/basic/main.basic.js
Due: lint, format

refactor: 명령형을 선언형으로 개선
  src/basic/main.basic.js
Due: lint, format

feat: getCalculatePoints, SummaryDetails 분리
  src/advanced/App.jsx
  src/advanced/components/RightColumn.jsx
  src/advanced/components/SummaryDetails.jsx
  src/advanced/services/point.js
Due: lint, format

refactor: 함수 선언 순서 변경
  src/basic/features/product/service.js
Due: lint, format

refactor: getOrderSummary 에서 돔 조작 분리
  src/basic/entity/order.js
  src/basic/main.basic.js
Due: lint, format

refactor(advanced): 번개세일/추천세일 실행부 hooks와 usecase로 리팩토링
  src/advanced/hooks/useDiscountEvent.ts
  src/advanced/usecase/discountEvent.ts
Due: none

refactor: CartItem 컴포넌트 분리
  src/basic/components/ui.js
  src/basic/main.basic.js
Due: lint, format

fix: 장바구니 할인 정보 undefined 뜨는 현상 수정
  src/basic/main.basic.js
Due: lint, format

refactor: 상품 할인 상태 반환 함수 개선
  src/basic/features/product/service.js
Due: lint, format

feat: add gh-pages
  package.json
  pnpm-lock.yaml
Due: none

refactor: 함수명 변경
  src/basic/main.basic.js
Due: lint, format

기본 HTML 파일 경로 수정 및 gh-pages 스크립트 업데이트, Vite 설정에 빌드 입력 파일 추가
  index.html
  package.json
  vite.config.js
Due: none

refactor: optimize cart item updates and discount calculations
  src/basic/events/listeners/cartListeners.js
  src/basic/services/discountService.js
  src/basic/utils/stockUtils.js
Due: lint, format

feat: replace advanced.test.js with advanced.test.tsx for enhanced testing capabilities
  src/advanced/__tests__/advanced.test.js
  src/advanced/__tests__/advanced.test.tsx
Due: lint, format

feat: React 앱 기본 구조 구현 - App.tsx, main.advanced.tsx, types.ts
  src/advanced/App.tsx
  src/advanced/types.ts
Due: none

feat: React 컴포넌트 구현 - ProductSelector, CartDisplay, OrderSummary, ManualOverlay
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/ManualOverlay.tsx
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.tsx
Due: none

feat: 공통 타입 정의 추가
  src/types.ts
Due: none

feat: 커스텀 훅 구현 - 상품 관리, 장바구니 관리, 할인 계산
  src/advanced/hooks/useCartManagement.ts
  src/advanced/hooks/useDiscountCalculation.ts
  src/advanced/hooks/useProductManagement.ts
Due: none

chore: package.json 의존성 업데이트
  package.json
Due: none

feat: 상수 및 설정 파일 구현 - 상품 정보, 할인율, 타이머 설정
  src/advanced/constants.ts
Due: none

feat(advanced): 상품 셀렉터 상태 연결
  src/advanced/App.tsx
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/main.advanced.tsx
Due: none

docs: Phase 2 UI 렌더링 모듈 분리 완료 - 5개 렌더러 객체 분리, 관심사 분리 95% 달성, React 마이그레이션 준비 완료
  docs/06-refactoring-progress.md
Due: format

Refactor: 기타 함수 분리.
  src/basic/components/AddButton.js
  src/basic/components/CartItems.js
  src/basic/components/SaleItem.js
  src/basic/main.basic.js
  src/basic/utils/index.js
  src/basic/utils/render.js
Due: lint, format

feat: isTuesday 로직 추가
  src/advanced/components/CartItem.jsx
  src/advanced/components/RightColumn.jsx
  src/advanced/components/SummaryDetails.jsx
  src/advanced/utils/day.js
Due: lint, format

refactor: 상품아이디 객체로 관리
  src/basic/features/product/constants.js
  src/basic/features/product/service.js
  src/basic/main.basic.js
Due: lint, format

chore: gh-pages 배포 설정
  package.json
  pnpm-lock.yaml
  public/.nojekyll
  vite.config.advanced.js
Due: none

feat(advanced): ShoppintCart컴포넌트와 CartContext연결
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/hooks/useCartWithProducts.ts
Due: none

refactor: 주석으로 논리 구분 및 UI 업데이트 함수 분리
  src/basic/main.basic.js
Due: lint, format

refactor: 상품할인율 객체로 관리
  src/basic/features/product/constants.js
  src/basic/features/product/service.js
Due: lint, format

Refactor: Magic Number 대응.
  src/basic/constants/enum.js
  src/basic/main.basic.js
  src/basic/utils/bonus.js
  src/basic/utils/cart.js
  src/basic/utils/index.js
  src/basic/utils/render.js
Due: lint, format

feat: 상품할인아이콘 반환 함수 추가
  src/basic/features/product/service.js
Due: lint, format

refactor: 상품할인아이콘 반환 함수 적용
  src/basic/features/product/service.js
Due: lint, format

fix: product option value 문자열 수정
  src/advanced/components/cart-section/product-select/ProductOption.tsx
Due: none
