Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

refactor: 카트 추가 시 last selected action
  src/advanced/components/cart-section/product-select/AddToCartButton.tsx
Due: none

refactor: selector onchange 이벤트 핸들러 등록
  src/advanced/components/cart-section/product-select/ProductSelector.tsx
  src/advanced/reducer.ts
Due: none

refactor: cart item 수량 제어 버튼 클릭 핸들러 등록
  src/advanced/components/cart-section/cart-list/CartItem.tsx
Due: none

feat:advanced 리액트 설정
  eslint.config.js
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/App.tsx
  src/advanced/__tests__/advanced.test.js
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/components/guide/GuideToggle.tsx
  src/advanced/components/guide/ShoppingGuide.tsx
  src/advanced/components/layout/Header.tsx
  src/advanced/components/layout/Layout.tsx
  src/advanced/components/lib/product.ts
  src/advanced/components/order/OrdereSummary.tsx
  src/advanced/main.advanced.js
  src/advanced/main.tsx
  tsconfig.json
  vite.config.js
Due: lint, format

refactor: manual 토글 클릭 이벤트 처리
  src/advanced/components/manual/Manual.tsx
Due: none

feat: add some service logics from main.js
  src/basic/main.basic.js
  src/basic/services/cart.js
  src/basic/services/discount.js
  src/basic/services/points.js
  src/basic/services/product.js
Due: lint, format

gh-pages 패키지 설치
  package.json
  pnpm-lock.yaml
Due: none

404 페이지 생성
  404.html
Due: none

refactor: sale timers util 파일 hook으로 변환 및 적용
  src/advanced/App.tsx
  src/advanced/hooks/useSaleTimers.ts
  src/advanced/reducer.ts
Due: none

Refactor(basic): AI 생성 코드 모듈화
  .env
  src/basic/__tests__/basic.test.js
  src/basic/app.js
  src/basic/events.js
  src/basic/main.basic.js
  src/basic/services.js
  src/basic/view.js
Due: lint, format

refactor: noti 일괄 실행 함수 hook으로 변환
  src/advanced/App.tsx
  src/advanced/hooks/useNotifications.ts
  src/advanced/reducer.ts
Due: none

deploy: advanced 기준 배포 설정
  eslint.config.js
  index.advanced.html
  index.basic.html
  index.html
  index.original.html
  package.json
  vite.config.js
Due: none

refactor: getters state 타입 지정
  src/advanced/reducer.ts
Due: none

refactor: reducer type & interface 파일 분리
  src/advanced/components/cart-section/cart-list/CartItem.tsx
  src/advanced/components/cart-section/product-select/ProductOption.tsx
  src/advanced/components/cart-section/product-select/ProductSelector.tsx
  src/advanced/components/order-summary/summary-details/ItemDetails.tsx
  src/advanced/contexts/CartContext.tsx
  src/advanced/hooks/useSaleTimers.ts
  src/advanced/reducer.ts
  src/advanced/types/index.ts
Due: none

fix: reducer 반환값 타입 지정
  src/advanced/reducer.ts
Due: none

fix: stock 메세지 줄바꿈 특수문자 추가
  src/advanced/reducer.ts
Due: none

React + TypeScript로 마이그레이션 진행중
  MIGRATION_PROGRESS.md
  MIGRATION_SUMMARY.md
  src/advanced/App.tsx
  src/advanced/components/CartDisplay.js
  src/advanced/components/CartDisplay.tsx
  src/advanced/components/CartPrices.js
  src/advanced/components/CartPrices.tsx
  src/advanced/components/Header.js
  src/advanced/components/Header.tsx
  src/advanced/components/Layout.js
  src/advanced/components/Layout.tsx
  src/advanced/components/OrderSummary.js
  src/advanced/components/OrderSummary.tsx
  src/advanced/components/ProductSelector.js
  src/advanced/components/ProductSelector.tsx
  src/advanced/components/StockInfo.js
  src/advanced/components/StockInfo.tsx
  src/advanced/components/TotalAndDiscount.js
  src/advanced/components/TotalAndDiscount.tsx
  src/advanced/hooks/useBonusPoints.ts
  src/advanced/hooks/useCartCalculations.ts
  src/advanced/hooks/useCartHandlers.ts
  src/advanced/hooks/useSaleTimers.ts
  src/advanced/main.advanced.js
  src/advanced/services/appInitializationService.ts
  src/advanced/services/calculationService.ts
  src/advanced/services/cartService.js
  src/advanced/services/cartService.ts
  src/advanced/services/pointService.js
  src/advanced/services/pointService.ts
  src/advanced/services/timerService.ts
  src/advanced/types/index.ts
  src/basic/main.basic.js.backup
  tsconfig.json
Due: lint, format

feat: 배포 시작
  .github/workflows/deploy.yml
Due: format

feat: 코드 리펙토링
  src/app/index.js
  src/basic/main.basic.js
  src/domain/Cart.js
  src/domain/CartItem.js
  src/domain/Product.js
  src/domain/loyalty/PointCalculator.js
  src/domain/pricing/PricingEngine.js
  src/domain/pricing/helpers.js
  src/infra/AlertService.js
  src/infra/PromoScheduler.js
  src/presenters/CartPresenter.js
  src/presenters/ProductSelectorPresenter.js
  src/presenters/SummaryPresenter.js
  src/ui/components/CartItemCard.js
  src/ui/components/DropdownOption.js
  src/ui/components/HelpModal.js
Due: lint, format

feat:베포 준비중
  index.html
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

feat:베포 준비중
  index.html
Due: none

feat:베포 준비중 404.html 추가
  public/404.html
Due: format

fix: vite.config.js 수정
  vite.config.js
Due: none

refactor: CartItem 컴포넌트 분리
  src/basic/main.basic.js
Due: lint, format

fix: index.html 수정
  index.html
Due: none

Refactor: 단방향 데이터 흐름 구조 리팩토링 - 테스트 코드 대응 포함
  package.json
  pnpm-lock.yaml
  src/basic/__tests__/basic.test.js
  src/basic/app.js
  src/basic/calculator.js
  src/basic/events.js
  src/basic/services.js
  src/basic/state.js
  src/basic/view.js
Due: lint, format

fix: 테스트 통과안하는 문제 해결
  src/app/index.js
  src/basic/main.basic.js
  src/domain/CartItem.js
  src/domain/Product.js
  src/presenters/CartPresenter.js
  src/presenters/ProductSelectorPresenter.js
Due: lint, format

refactor: CartItem 컴포넌트에서 실시간 상품 정보 반영 및 CartList 스타일 개선
  src/advanced/components/CartItem.tsx
  src/advanced/components/CartList.tsx
Due: none

refactor: Layout 및 OrderSummary 컴포넌트 개선
  src/advanced/components/Layout.tsx
  src/advanced/components/OrderSummary.tsx
Due: none

feat: alert를 toast로 변경경
  src/advanced/components/Toast.tsx
  src/advanced/components/ToastContainer.tsx
  src/advanced/context/ToastContext.tsx
Due: none

refactor: 타이밍 값 변경경
  src/advanced/constants/index.ts
Due: none

refactor: 할인 계산 로직 개선
  src/advanced/services/discountService.ts
Due: none

feat: toast 알림 추가 및 alert 대체
  src/advanced/hooks/useSpecialEvents.ts
Due: none

refactor: 실시간 상품 가격 반영을 위한 subtotal 계산 로직 수정
  src/advanced/context/CartContext.tsx
Due: none

feat: toast 기능 통합 및 App 컴포넌트 구조 개선
  src/advanced/__tests__/discountService.test.ts
  src/advanced/main.advanced.tsx
Due: none

chore: package.json 명령어 수정
  package.json
Due: none

fix: 안쓰는 service 로직 삭제
  MIGRATION_PROGRESS.md
  src/advanced/services/appInitializationService.ts
  src/advanced/services/timerService.ts
Due: none

feat: React TypeScript 기본 구조 설정
  src/advanced/main.advanced.tsx
  src/advanced/types.ts
Due: none

git commit -m "feat: 커스텀 훅으로 비즈니스 로직 분리
  src/advanced/hooks/useCartManagement.ts
  src/advanced/hooks/useDiscountCalculation.ts
  src/advanced/hooks/useProductManagement.ts
Due: none

feat: separate setupEventHandlers function in main.js
  src/basic/main.basic.js
Due: lint, format

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
