Repository hanghae-plus/front_6th_chapter2-1: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: pnpm lint:check
  fail_text: ğŸš¨ ESLint ê²€ì‚¬ ì‹¤íŒ¨! 'pnpm lint'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

format:
  run: pnpm format:check
  fail_text: ğŸ¨ ì½”ë“œ í¬ë§·íŒ…ì´ í•„ìš”í•©ë‹ˆë‹¤! 'pnpm format'ë¡œ ìˆ˜ì • í›„ ë‹¤ì‹œ ì»¤ë°‹í•˜ì„¸ìš”.

refactor: 헤더 및 도움말 모달 컴포넌트 이동 및 tsx로 전환
  src/advanced/shared/components/Header.tsx
  src/advanced/shared/components/HelpModal.tsx
Due: none

refactor: 헤더 컴포넌트 JSX로 변환 및 App.tsx에 통합
  src/advanced/App.tsx
  src/advanced/shared/components/Header.tsx
Due: none

fix: 장바구니 기능 동작하지 않는 문제 해결
  index.html
  src/App.tsx
  src/advanced/App.tsx
  src/advanced/components/cart/ProductPicker.tsx
  src/advanced/components/cart/ShoppingCart.tsx
  src/advanced/components/order/OrderSummary.tsx
  src/advanced/contexts/CartContext.tsx
  src/advanced/lib/product.ts
  src/components/AddToCartButton.tsx
  src/components/Cart.tsx
  src/hooks/useCart.ts
Due: none

feat: 할인 시스템 구현 및 컴포넌트 구조 개선
  src/App.tsx
  src/components/OrderSummary.tsx
  src/components/TuesdayBanner.tsx
  src/utils/discount.ts
Due: none

refactor: App 컴포넌트에서 헤더 추가 및 DOM 구조 개선
  src/basic/App.js
  src/basic/main.basic.js
  src/basic/shared/utils/dom.js
Due: lint, format

refactor: for문을 Array.find()로 변경하여 코드 간소화
  src/basic/main.basic.js
Due: lint, format

refactor: HelpModal 컴포넌트 상태 관리 추가 및 JSX로 변환
  src/advanced/App.tsx
  src/advanced/shared/components/HelpModal.tsx
Due: none

feat: advanced 버전을 위한 라이브러리 및 설정 추가 - React, TypeScript, Zustand 의존성 추가 - TypeScript 설정 파일 생성 (tsconfig.json, tsconfig.node.json) - Vite React 플러그인 설정 - ESLint React 플러그인 추가 - import 순서 정리
  404.html
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/advanced/404.html
  src/advanced/eslint.config.js
  src/advanced/index.html
  src/advanced/main.advanced.js
  src/advanced/main.advanced.tsx
  src/advanced/package.json
  src/advanced/pnpm-lock.yaml
  src/advanced/src/App.tsx
  src/advanced/tsconfig.app.json
  src/advanced/tsconfig.json
  src/advanced/tsconfig.node.json
  src/advanced/vite.config.ts
Due: lint, format

refactor: features 폴더 이동
  src/advanced/features/cart/components/CartItem.js
  src/advanced/features/cart/components/CartTotal.js
  src/advanced/features/cart/events/cartEventHandler.js
  src/advanced/features/cart/services/cartCalculator.js
  src/advanced/features/cart/services/cartService.js
  src/advanced/features/cart/services/cartUIService.js
  src/advanced/features/cart/services/promotionPriceService.js
  src/advanced/features/cart/services/promotionService.js
  src/advanced/features/cart/store/cartStore.js
  src/advanced/features/cart/utils/discountUtils.js
  src/advanced/features/cart/utils/stockUtils.js
  src/advanced/features/order/components/CartTotal.js
  src/advanced/features/order/components/OrderSummaryDetails.js
  src/advanced/features/order/services/orderService.js
  src/advanced/features/point/services/pointService.js
  src/advanced/features/point/services/pointsCalculator.js
  src/advanced/features/point/utils/pointsUtils.js
  src/advanced/features/product/components/ProductSelector.js
  src/advanced/features/product/constants/index.js
  src/advanced/features/product/services/productService.js
  src/advanced/features/product/store/productStore.js
  src/advanced/features/product/utils/productUtils.js
Due: lint, format

refactor: 계산 로직 훅으로 분리
  src/advanced/data/point.data.ts
  src/advanced/hooks/usePoint.ts
  src/advanced/utils/point.util.ts
  src/basic/data/point.data.js
  src/basic/hooks/index.js
  src/basic/hooks/useDiscount.js
  src/basic/hooks/useOrderSummary.js
  src/basic/hooks/usePoint.js
  src/basic/hooks/useStock.js
  src/basic/main.basic.js
  src/basic/utils/point.util.js
Due: lint, format

refactor: jsconfig 및 tsconfig 경로 수정, package.json에 새로운 시작 스크립트 추가
  jsconfig.json
  package.json
  tsconfig.json
Due: none

refactor: ProductSelector 컴포넌트를 TypeScript로 변환 및 App.tsx에 통합
  src/advanced/App.tsx
  src/advanced/features/product/components/ProductSelector.js
  src/advanced/features/product/components/ProductSelector.tsx
Due: lint, format

fix: 불필요한 달러 제거
  src/advanced/components/CartItem.jsx
Due: none

fix: Tailwind CSS 설정 추가 - Tailwind CSS v4 및 Vite 플러그인 추가 - Vite 설정에 Tailwind 플러그인 추가 - CSS import 문법 수정
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/advanced/src/index.css
  src/advanced/tsconfig.json
  src/advanced/tsconfig.node.json
  src/advanced/vite.config.ts
Due: format

refactor: 중복 로직 공통화
  src/basic/hooks/useDiscount.js
  src/basic/hooks/useOrderSummary.js
  src/basic/hooks/usePoint.js
  src/basic/main.basic.js
  src/basic/utils/cart.util.js
Due: lint, format

feat: 상품 선택하여 장바구니에 추가 기능
  src/advanced/App.jsx
  src/advanced/components/CartItemBox.jsx
  src/advanced/components/LeftColumn.jsx
  src/advanced/components/RightColumn.jsx
  src/advanced/components/SummaryDetails.jsx
  src/advanced/components/selector/AddButton.jsx
  src/advanced/components/selector/SelectorContainer.jsx
  src/advanced/services/point.js
Due: lint, format

fix: 린트 에러 해결 및 배포 설정 최적화
  public/index.html
  src/advanced/hooks/useProductManagement.ts
  vite.config.js
Due: format

refactor: App.tsx에서 제품 상태 관리 추가 및 초기 제품 목록 설정
  src/advanced/App.tsx
  src/advanced/features/product/constants/index.ts
Due: none

chore: husky 설정
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

fix: public/index.html에 올바른 번들 경로 설정
  public/index.html
Due: format

fix: Order Summary에 장바구니 아이템 표시 기능 추가 - RightColumn에서 실제 장바구니 아이템들을 표시하도록 수정 - 상품명, 수량, 가격 정보 표시 - Subtotal과 Shipping 정보 추가 - 실제 포인트 계산 결과를 GridContainer에 전달
  src/advanced/src/App.tsx
  src/advanced/src/components/summary/RightColumn.tsx
  vite.config.js
Due: none

refactor: main() 함수 단일 책임 원칙 적용 - 6개 전문 함수로 분할
  src/basic/main.basic.js
Due: lint, format

fix: 레이아웃 스크롤 문제 해결 - GridContainer를 인라인으로 변경하여 레이아웃 단순화 - flex 레이아웃으로 변경하여 화면 높이에 맞게 조정 - min-h-0 추가로 flex 아이템이 올바르게 축소되도록 설정 - 불필요한 중첩된 컴포넌트 제거
  src/advanced/src/App.tsx
  src/advanced/src/components/summary/RightColumn.tsx
Due: none

chore: package.json 수정 후, pnpm i 실행
  pnpm-lock.yaml
Due: none

chore: 불필요한 파일 제거
  src/basic/html/services/applySaleAlert.js
Due: lint, format

fix: Order Summary 계산 로직 수정 - App.tsx에서 직접 계산하던 total을 store의 계산된 total 사용 - calculateCart 함수의 결과를 올바르게 반영 - 할인 및 기타 계산 로직이 Order Summary에 적용되도록 수정
  src/advanced/src/App.tsx
Due: none

feat: 번개세일 및 추천할인 타이머 기능 추가 - LightningSaleService.ts 생성 (TypeScript 변환) - SuggestSaleService.ts 생성 (TypeScript 변환) - App.tsx에서 타이머 서비스 초기화 및 시작 - 앱 마운트/언마운트 시 타이머 관리 - 상품 상태 변경 시 자동 업데이트
  src/advanced/src/App.tsx
  src/advanced/src/services/LightningSaleService.ts
  src/advanced/src/services/SuggestSaleService.ts
Due: none

style: 타이머 서비스 코드 스타일 개선 - import 순서 정리 (타입 import를 하단으로 이동) - NodeJS.Timeout을 ReturnType<typeof setTimeout>로 변경하여 브라우저 환경 호환성 개선 - 함수 매개변수 줄바꿈으로 가독성 향상 - findSuggestProduct 함수의 반환값 처리 개선
  src/advanced/src/services/LightningSaleService.ts
  src/advanced/src/services/SuggestSaleService.ts
Due: none

fix(basic): this 바인딩 문제 해결
  src/basic/main.basic.js
  src/basic/view/cartSummary.js
Due: lint, format

fix: gh-pages 배포 설정 수정 - package.json의 gh-pages 의존성 설정 오류 수정 - vite.config.js에 index.advanced.html 빌드 대상 추가 - 빌드 시 모든 HTML 파일이 dist 폴더에 포함되도록 설정
  index.advanced.html
  package.json
  pnpm-lock.yaml
  src/advanced/vite.config.ts
  vite.config.js
Due: none

chore: 불필요한 주석 제거
  src/basic/main.basic.js
Due: lint, format

refactor: 컴포넌트 구조 개선
  src/basic/App.js
  src/basic/components/Header.js
  src/basic/components/OrderSummary.js
  src/basic/components/ProductSelectOption.js
  src/basic/components/ProductSelector.js
  src/basic/components/cart/index.js
  src/basic/components/layout/Divider.js
  src/basic/components/layout/Header.js
  src/basic/components/layout/HelpOverlay.js
  src/basic/components/layout/HelpToggle.js
  src/basic/components/layout/LightningSaleTimer.js
  src/basic/components/layout/MainLayout.js
  src/basic/components/layout/SectionLayout.js
  src/basic/components/layout/SuggestionSaleTimer.js
  src/basic/components/layout/TimerManager.js
  src/basic/components/layout/index.js
  src/basic/components/order/BasicDiscount.js
  src/basic/components/order/CartTotal.js
  src/basic/components/order/DiscountBanner.js
  src/basic/components/order/DiscountInfo.js
  src/basic/components/order/OrderSummary.js
  src/basic/components/order/PointInfo.js
  src/basic/components/order/SpecialDiscount.js
  src/basic/components/order/SummaryDetail.js
  src/basic/components/order/index.js
  src/basic/components/product/AddButton.js
  src/basic/components/product/ProductSection.js
  src/basic/components/product/ProductSelect.js
  src/basic/components/product/StockStatus.js
  src/basic/components/product/index.js
  src/basic/main.basic.js
  src/basic/store/appStore.js
  src/basic/store/domManager.js
Due: lint, format

refactor: 장바구니 기능 추가 및 CartItem 컴포넌트 통합
  src/advanced/App.tsx
  src/advanced/features/cart/components/CartItem.js
  src/advanced/features/cart/components/CartItem.tsx
  src/advanced/features/order/components/CartTotal.js
  src/basic/features/order/components/CartTotal.js
Due: lint, format

refactor: CartTotal 컴포넌트를 TypeScript로 변환 및 파일 구조 개선
  src/advanced/features/cart/components/CartTotal.js
  src/advanced/features/cart/components/CartTotal.tsx
Due: lint, format

refactor: OrderSummaryDetails 컴포넌트를 TypeScript로 변환 및 React 컴포넌트로 재작성
  src/advanced/features/order/components/OrderSummaryDetails.js
  src/advanced/features/order/components/OrderSummaryDetails.tsx
Due: lint, format

chore: vite 설정 수정
  vite.config.js
Due: none

feat: 할인 계산 유틸리티 함수 추가 및 OrderSummaryDetails 컴포넌트 수정
  src/advanced/features/cart/utils/discountUtils.ts
  src/advanced/features/order/components/OrderSummaryDetails.tsx
Due: none

fix(basic): 총할인액에 NaN 노출되는 현상 수정
  src/basic/main.basic.js
  src/basic/view/cartSummary.js
Due: lint, format

refactor: TypeScript 변환 1단계 - 기본 타입 정의 및 DOM null 체크 추가
  src/basic/main.basic.ts
Due: none

feat: OrderSummaryDetails 컴포넌트 통합 및 데이터 계산 로직 추가
  src/advanced/App.tsx
  src/advanced/features/order/components/OrderSummaryDetails.tsx
Due: none

Path conditions:
  lint: any of: **/*.js
  format: any of: **/*.{js,html,json,yaml,yml,md}
